/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
  text-indent: 0em;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #000000;
  background: #f7f7f7;
}

.hljs-comment,
.hljs-quote {
  color: #007979;
  font-style: italic;
}

.hljs-doctag,
.hljs-formula {
  color: #aa22ff;
}

.hljs-keyword{
  color: #008000;
  font-weight: bold;
}

.hljs-string,
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst,
.hljs-meta-string {
  color: #ba2121;
}

.hljs-literal {
  color: #0000ff;
}

.hljs-number,
.hljs-built_in,
.hljs-regexp,
.hljs-addition,
.hljs-attribute {
  color: #008800;
}

.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo
{
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #0000ff;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

