.chat_box {
    display: grid;
    padding: 10px;
    margin: 5px 0;
    transition: all 0.5s ease-in-out;
}

.left,
.weixin,
.qq {
    position: relative;
    max-width: min(400px, 75%);
    padding: 8px 10px;
    margin: 8px 0;
    border-radius: 5px;
    word-break: break-all;
    line-height: 24px;
    transition: all 0.5s ease-in-out;
}

.left {
    justify-self: left;
    left: 20px;
}

.weixin,
.qq {
    justify-self: end;
    right: 20px;
}

.weixin {
    background-color: #9EEA6A;
}

.qq {
    background-color: #1E6EFF;
    color: #FFF;
}

.left::before,
.weixin::before,
.qq::before {
    content: '';
    position: absolute;
    top: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    transition: all 0.5s ease-in-out;
}

.left::before {
    left: -8px;
    border-width: 8px 10px 8px 0;
    color: transparent;
}

.weixin::before,
.qq::before {
    right: -8px;
    border-width: 8px 0 8px 10px;
    color: transparent;
}

[data-theme='light'] {
    .chat_box {
        background: #f5f5f5;
    }

    .left {
        background: #FFF;
    }

    .left::before {
        border-right: 8px solid #fff;
    }

    .weixin::before {
        border-left: 8px solid #9EEA6A;
    }

    .qq::before {
        border-left: 8px solid #1E6EFF;
    }
}

[data-theme='dark'] {
    .chat_box {
        background: #111111;
    }

    .left,
    .weixin,
    .qq {
        color: #d5d5d5;
    }

    .left {
        background: #2c2c2c;
    }

    .weixin {
        background: #3eb477;
        color: #111111;
    }

    .qq {
        background: #2c2c2c;
    }

    .left::before {
        border-right: 8px solid #2c2c2c;
    }

    .weixin::before {
        border-left: 8px solid #3eb477;
    }

    .qq::before {
        border-left: 8px solid #2c2c2c;
    }
}