.code-file-tree-container {
    display: flex;
    background-color: var(--tabs-bg);
    transition: background 0.5s ease-in-out;
    margin: 5px 0;
}

.code-file-tree-container > * {
    margin: 0;
    flex: 5;
    min-height: calc(100% - 10px);
}

.code-file-tree-container > figure > pre {
    min-height: calc(100% - 32px);
}

.code-file-tree-container > .jstree {
    flex: 2;
    overflow: auto;
    border: 2px solid var(--border);
}

.code-file-tree-container > .jstree > .jstree-container-ul {
    display: inline-block;
    padding: 10px 5px;
    min-width: calc(100% - 10px);
}

.code-file-tree-container .jstree-default .jstree-hovered {
    background: var(--background-tertiary);
    color: var(--text-link);
    text-decoration: underline;
}

.code-file-tree-container .jstree-default .jstree-clicked {
    color: var(--background-primary);
    background: var(--text-link);
}

@media screen and (max-width: 660px) {
    .code-file-tree-container {
        flex-direction: column;
    }

    .code-file-tree-container > .jstree {   
        margin-top: -5px;
        border-top: none;
    }
}

@media screen and (min-width: 660px) {
    .code-file-tree-container {
        flex-direction: row;
    }

    .code-file-tree-container > figure {
        border-right: none;
    }

    .code-file-tree-container > .jstree > .jstree-container-ul {
        border-top: 32px solid var(--highlight-tools-bg);
        transition: border-top-color 0.5s ease-in-out;
    }
}
