.code-file-tree-container {
    display: flex;
    flex-direction: row-reverse;
}

.code-file-tree-container > * {
    flex: 4;
}

.code-file-tree-container > .jstree {
    padding: 10px 5px 5px 5px;
    margin: 5px 0;
    flex: 1;
    background-color: var(--tabs-bg);
    border: 2px solid var(--border);
    transition: background 0.5s ease-in-out;
}

.code-file-tree-container > figure {
    border-left: none;
}

.code-file-tree-container .jstree-default .jstree-hovered {
    background: var(--background-tertiary);
}

.code-file-tree-container .jstree-default .jstree-clicked {
    color: var(--background-primary);
    background: var(--text-link);
}