.code-file {
    margin: 5px 0;
    border: 2px solid var(--border);
    tab-size: 4;
}

table.hljs-ln {
    display: contents;
    font-size: 15px;
}

.hljs-ln-n {
    border-right: 1px solid var(--border);
    padding: 0 10px;
    color: var(--th-text);
    font-size: 15px;
    border: none;
}

td.hljs-ln-code {
    padding: 0 10px !important;
    border: none;
}

.hljs-ln-line {
    border: none;
    line-height: 1.5em;
}

pre.hljs {
    overflow: auto;
    background-color: var(--tabs-bg);
}

table.hljs-ln tr:first-child>.hljs-ln-line {
    padding-top: 10px !important;
}

table.hljs-ln tr:last-child>.hljs-ln-line {
    padding-bottom: 10px !important;
}

.hljs-ln-numbers {
    border-right: 1px solid var(--border) !important;
}

.code-file-tools {
    background: var(--highlight-tools-bg);
    position: relative;
    height: 32px;
    transition: background 0.5s ease-in-out;
}

.code-file-tools>.code-file-name {
    margin-left: 10px;
    line-height: 32px;
    font-weight: bold;
    position: absolute;
    left: 30px;
    font-size: 18px;
    color: var(--th-text);
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

.code-file-tools>.download-button,
.code-file-tools>.copy-button  {
    position: absolute;
    width: 18px;
    height: 18px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
}

.code-file-tools>.download-button {
    right: 6px;
}

.code-file-tools>.copy-button {
    right: 30px;
}

.code-file-tools>.download-button:hover,
.code-file-tools>.copy-button:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.code-file-tools>.close-code-block-button {
    position: absolute;
    width: 16px;
    height: 16px;
    bottom: 8px;
    left: 6px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-size: cover;
    transition: transform 0.5s;
}

.code-file-tools>.close-code-block-button:hover {
    cursor: pointer;
}

.code-file code.closed {
    display: none;
}

.code-file-tools>.copy-notice {
    line-height: 32px;
    font-weight: 500;
    position: absolute;
    right: 56px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.5s;
    color: var(--th-text);
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}