.exhibits-container {
    display: flex;
    margin: 10px 0;
    padding: 10px 5px;
}

.exhibits-container.common {
    border: 2px solid var(--border);
    transition: border 0.5s ease-in-out;
}

.exhibits-container.rare {
    border: 2px solid #1e6eff;
    background: #1e6eff20;
}

.exhibits-container.epic {
    border: 2px solid #8250df;
    background: #8250df20;
}

.exhibits-container.legend {
    border: 2px solid #ff9800;
    background: #ff980020;
}

.exhibits-container.rare blockquote{
    border-left: 4px solid #1e6eff;
    background: #1e6eff20;
}

.exhibits-container.epic blockquote{
    border-left: 4px solid #8250df;
    background: #8250df20;
}

.exhibits-container.legend blockquote{
    border-left: 4px solid #ff9800;
    background: #ff980020;
}

.reverse {
    flex-direction: row-reverse;
}

.exhibits-img-container img {
    max-width: 80%;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

.exhibits-img-container .hidden {
    display: none;
}

.exhibits-container-left {
    max-width: 50%;
    justify-content: center;
}

.exhibits-container-right {
    width: 100%;
    margin: 0 5px;
}

.exhibits-container-right .title {
    margin: 5px auto;
    font-weight: bold;
    font-size: 18px;
}

.exhibits-container-right .desc {
    margin: 0 auto;
    padding: 0 10px;
}

.exhibits-container-left,
.exhibits-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.f-carousel__dots>li:before{
    display: none;
}

span.f-carousel__dot {
    color: var(--text-primary);
    transition: color 0.5s ease-in-out;
}

.f-button.is-prev {
    transform: translateY(-50%) translateX(-12px) !important;
}

.f-button.is-next {
    transform: translateY(-50%) translateX(12px) !important;
}

.f-carousel__dots {
    transform: translateY(8px);
}

.f-carousel__slide {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 660px) {
    .exhibits-container {
        flex-direction: column !important;
    }

    .exhibits-container-left {
        max-width: 100%;
        margin: 0;
    }

    .exhibits-container-right {
        width: auto;
        margin: 10px 5px 5px;
    }

}