.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    margin: 5px auto;
}

.grid-container img {
    max-width: 95%;
    height: auto;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

.grid-container .no-shadow, .no-shadow img {
    box-shadow: none;
}
