#article h1,
#article h2,
#article h3,
#article h4,
#article h5,
#article h6 {
  font-size: 16px;
  position: relative;
  font-weight: 600;
  outline: none;
  color: #12183a;
}
#article h1 {
  font-size: 32px;
  font-weight: 900;
  padding-bottom: 10px;
  border-bottom: 2px solid #e06c75;
}
#article h1 a:hover {
  border-bottom: 0;
}
#article h2 {
  font-size: 25px;
  border-left: 3px solid #73b1e0;
  padding-left: 10px;
}
#article h1,
#article h2 {
  line-height: 40px;
  margin: 20px 0 15px;
}
#article h3 {
  padding: 24px 0;
  font-size: 24px;
}
#article h4 {
  font-size: 20px;
  padding: 15px 0 10px;
}
#article h5 {
  font-size: 19px;
  padding: 15px 0 10px;
}
#article a {
  position: relative;
  color: #4183c4;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}
#article hr {
  margin: 12px 0 12px;
  height: 2px;
  border: none;
  background: #EFEFEF;
}
#article code {
  border-radius: 4px;
}
#article code li {
  list-style: none;
}
#article img {
  max-width: 80%;
  margin: 8px auto;
  text-align: center;
  display: flex;
  outline: none;
  border: 0;
}
@media screen and (max-width: 660px) {
  #article img {
    max-width: 95%;
  }
}
#article pre {
  font-size: 0.85em;
  line-height: 1.5em;
  display: flex;
  max-width: 100%;
  position: relative;
}
#article pre code {
  overflow-x: auto;
  flex: 1;
  text-align: left;
  width: fit-content;
  padding: 15px;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}
#article center,
#article p {
  display: block;
  margin: 4px 0 6px;
  line-height: 30px;
  color: #000;
  box-sizing: border-box;
}
#article p {
  text-align: justify;
}
#article ol {
  padding: 10px;
}
#article ol li {
  margin-left: 15px;
  padding: 7px;
  line-height: 30px;
}
#article ul {
  margin: 5px 0;
}
#article ul li {
  color: #000;
  list-style: none;
  margin: 10px 16px;
  line-height: 30px;
}
#article ul li:before {
  content: "\2022";
  float: left;
  margin-right: 10px;
  line-height: 31px;
  font-size: 22px;
  font-weight: 500;
}
#article blockquote {
  background: #fafafa;
  border-left: 4px solid #e0e2e5;
  margin: 15px 0;
  padding: 2px;
}
#article blockquote p,
#article blockquote h1,
#article blockquote h2,
#article blockquote h3,
#article blockquote h4,
#article blockquote h5,
#article blockquote h6,
#article blockquote center,
#article blockquote li {
  margin: 4px 20px;
  color: #898fa0;
  font-size: 16px;
}
#article blockquote .highlight {
  margin: auto 20px;
}
#article p code,
#article td code:not(pre code),
#article ul code:not(pre code),
#article li code:not(pre code) {
  font-size: 0.9em;
  margin: 0 4px;
  display: inline;
  padding: 3px 6px;
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  color: #121212;
  background: #F1F5FB;
  border-radius: 3px;
}
#article p strong {
  font-weight: bold;
}
#article table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.2em;
  box-shadow: 0 0 2px #d4d4d4;
  word-wrap: break-word;
  table-layout: fixed;
  margin: 20px 0 15px;
  border: 1px solid rgba(153, 169, 191, 0.1);
  overflow: hidden;
}
#article table td:hover,
#article table tr:hover {
  background: rgba(153, 169, 191, 0.1);
}
#article table tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
#article table tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
#article table tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}
#article table tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}
#article table td {
  border-bottom: 1px solid rgba(153, 169, 191, 0.1);
  border-right: 1px solid rgba(153, 169, 191, 0.1);
}
#article table tr:first-child td {
  border-top: 1px solid rgba(153, 169, 191, 0.1);
}
#article table tr td:first-child {
  border-left: 1px solid rgba(153, 169, 191, 0.1);
}
#article thead {
  text-indent: 1em;
}
#article thead tr {
  height: 3em;
}
#article thead tr:nth-child(odd) {
  background: hsla(0, 0%, 96.5%, 0.51);
}
#article thead th {
  background: rgba(153, 169, 191, 0.1);
  text-align: left;
}
#article tbody tr {
  line-height: 2em;
}
#article tbody td {
  color: #333;
  font-weight: 400;
  padding: 0;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
}
#article tbody td.code {
  padding-left: 0;
  padding-right: 0;
}
#article #noneimg img {
  display: none;
  z-index: 9999;
  /* width: 600px !important; */
  min-width: 0%;
  max-width: 90%;
  max-height: 80%;
  border-radius: 0px;
  position: fixed;
  box-shadow: 0 0 0px #c3c3c300 !important;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto !important;
}
@media screen and (max-width: 660px) {
  #article #noneimg img {
    max-width: 88%;
  }
}
.hbe-button {
  margin-top: 40px;
  border-radius: 8px;
  text-align: center;
  text-indent: 0;
  background: linear-gradient(to bottom, #66a6ff 0%, #006aff 100%);
  border-bottom: 4px solid #004099;
}
.hbe-button:after {
  border: none;
}
.highlight-tools {
  background: #e6ebf1;
  position: relative;
  height: 32px;
}
.highlight-tools .copy-notice {
  font-weight: 500;
  position: absolute;
  right: 30px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.4s;
  color: #b3b3b3;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}
.highlight-tools .copy-button {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 6px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
}
.highlight-tools .copy-button:hover {
  filter: brightness(120%);
}
.highlight-tools .code-lang {
  font-weight: bold;
  position: absolute;
  left: 30px;
  font-size: 16px;
  color: #b3b3b3;
}
.highlight-tools .close-code-block-button {
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: 8px;
  left: 6px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  transition: transform 0.4s;
}
pre .closed {
  height: 0;
  padding: 0 !important;
  overflow-y: hidden;
}
.local-search {
  align-items: center;
  position: relative;
  text-align: left;
  display: grid;
  padding: 0 80px;
  margin-top: 60px;
  margin-bottom: 40px;
}
.local-search .input-container {
  display: flex;
  height: 24px;
  margin: 20px 10px 0 10px;
  padding: 4px 12px;
  border-radius: 20px;
  border: 2px solid #898fa0;
  color: #666;
  font-size: 14px;
  align-items: center;
}
.local-search .input {
  width: 100%;
  /* margin: 10px 0; */
  color: #12183a;
  font-size: 16px;
  padding-left: 0.6em;
  border: none;
  outline: none;
}
.local-search a.search-result-title {
  display: flow !important;
  width: auto !important;
  height: auto !important;
  margin-left: 0 !important;
}
.local-search .content {
  overflow-y: overlay;
  max-height: calc(80vh - 200px);
  width: 100%;
  margin: 20px 0;
}
@media screen and (max-width: 800px) {
  .local-search .content {
    margin: 20px 10px;
  }
}
.local-search .result-empty {
  color: #888;
  line-height: 44px;
  text-align: center;
  display: block;
  font-size: 18px;
  font-weight: 400;
}
.local-search .content ul {
  min-width: 400px;
  max-width: 900px;
  max-height: 600px;
  min-height: 0;
  height: auto;
  margin: 15px 5px 15px 20px;
  padding-right: 30px;
}
@media screen and (max-width: 800px) {
  .local-search .content ul {
    min-width: auto;
    max-width: max-content;
    max-height: 70vh;
    min-height: auto;
    padding: 0 10px 10px 10px 10px;
  }
}
.local-search .content ul li {
  text-align: left;
  border-bottom: 1px solid #bdb7b7;
  padding-bottom: 10px;
  margin-bottom: 20px;
  line-height: 30px;
  font-weight: 400;
}
.local-search .content ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.local-search .content ul li a {
  margin-top: 20px;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: bold;
  color: #12183a;
}
.local-search .content ul li a:hover {
  text-decoration: underline;
}
.local-search .content ul li p {
  margin-top: 10px;
  font-size: 14px;
  max-height: 124px;
  overflow: hidden;
}
.local-search .content ul li em.search-keyword {
  color: #00F;
  font-weight: bold;
  font-style: normal;
}
.local-search .search-icon {
  width: 14px;
  height: 14px;
}
.local-search .result {
  padding: 20px 20px 0 20px;
  color: #12183a;
}
.local-search h2 {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  color: #424242;
  font-size: 1.7rem;
}
.local-search input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background: url(/images/close.png) no-repeat;
  background-size: contain;
}
.local-search input[type="search"]::-webkit-search-cancel-button:hover {
  filter: brightness(120%);
}
@media screen and (max-width: 660px) {
  .local-search {
    padding: 0 30px;
  }
}
.rightside {
  margin-bottom: 40px;
}
.rightside-button > span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0.8;
  background: rgba(248, 248, 248, 0.8);
  text-align: center;
  transition: border 0.5s;
  border: 1px solid rgba(18, 24, 58, 0.06);
  -moz-transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -o-transition: border 0.5s;
}
.rightside-button > span:hover {
  border: 1px solid #73b1e0;
}
.rightside-button {
  margin-bottom: 10px;
  position: relative;
}
.rightside-button.hidden {
  display: none;
}
.rightside-button > span > svg {
  width: 20px;
  height: 20px;
  opacity: 0.8;
}
.tabs {
  border: 2px solid #e0e2e5;
}
.tabs > .nav-tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 !important;
  padding: 0;
}
.tabs > .nav-tabs > .tab {
  flex-grow: 1;
  padding: 8px 18px;
  background: #fff;
  line-height: 2;
  transition: all 0.4s;
  border: 2px solid #e0e2e5;
  font-size: 16px;
  color: #898fa0;
  margin: -2px;
}
.tabs > .nav-tabs > .tab i {
  width: 1.5em;
}
.tabs > .nav-tabs > .tab.active {
  border-top: 2px solid #73b1e0;
  background: #FAFAFA;
  color: #12183a;
  cursor: default;
}
.tabs > .nav-tabs > .tab:not(.active):hover {
  z-index: 2;
  border: 2px solid #73b1e0;
  color: #12183a;
}
.tabs.no-default ~ .tab-to-top {
  display: none;
}
.tabs > .tab-contents > .tab-item-content {
  position: relative;
  display: none;
  padding: 10px 20px;
}
@media screen and (max-width: 768px) {
  .tabs > .tab-contents > .tab-item-content {
    padding: 24px 14px;
  }
}
.tabs > .tab-contents > .tab-item-content.active {
  display: block;
  animation: tabshow 0.5s;
}
.tabs > .tab-contents > .tab-item-content > :last-child {
  margin-bottom: 0;
}
.tabs > .tab-to-top {
  width: 100%;
  text-align: right;
}
.tabs > .tab-to-top button {
  font-size: large;
  color: #898fa0;
  border: none;
  background: none;
  margin-bottom: 10px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background: url("/images/go_top.png");
  background-size: cover;
}
.tabs > .tab-to-top button:hover {
  filter: brightness(120%);
}
@keyframes tabshow {
  0% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
.post-toc {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.04);
  padding: 10px 5px 10px 5px;
  border: 1px solid rgba(18, 24, 58, 0.06);
}
.post-toc .post-toc-title {
  font-weight: bold;
  color: #424242;
  font-size: 20px;
}
.post-toc .toc {
  margin: 12px 5px 5px 5px;
  display: block;
  overflow: auto;
}
.post-toc .toc::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.post-toc .toc::-webkit-scrollbar-thumb {
  background-color: #AAA;
  border-radius: 10px;
}
.post-toc a {
  text-decoration: none;
}
.post-toc ol {
  display: inline;
  list-style-type: none;
}
.post-toc ol a.active.toc-link .toc-text {
  color: #fff;
}
.post-toc ol .toc-link {
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}
.post-toc ol li {
  margin-left: 10px;
  background: none;
}
.post-toc ol li .toc-text {
  padding: 0 5px;
  color: #898fa0;
}
.post-toc ol li .active span {
  padding: 4px 10px;
  border-radius: 8px;
  background: rgba(0, 106, 255, 0.8);
}
.post-toc ol span:hover {
  color: #4183c4;
}
@media screen and (min-width: 1100px) {
  .post-toc {
    z-index: 2;
    position: fixed;
    bottom: 195px;
    width: 260px;
    right: -280px;
    transition: right 0.5s ease-out;
  }
  .toc {
    max-height: 35vh;
  }
  .post-toc.show-toc {
    right: min(30px, 2vw);
  }
  .post-toc.show-toc.hidden {
    right: -280px;
  }
  .post-content.show-toc {
    max-width: min(960px, 80vw);
    transform: translateX(calc(-0.1 * min(960px, 80vw)));
  }
  .post-paging.show-toc {
    max-width: 980px;
    transform: translateX(calc(-0.1 * min(960px, 80vw)));
  }
}
@media screen and (max-width: 1100px) {
  .post-toc {
    z-index: 2;
    position: fixed;
    bottom: calc(-30vh - 60px);
    min-width: 40vw;
    max-width: calc(75vw - 10px);
    right: 70px;
    margin-left: 20px;
    transition: bottom 0.5s ease-out;
  }
  .toc {
    max-height: 14vh;
  }
  .post-toc.show-toc {
    bottom: 20px;
  }
  .post-toc.show-toc.hidden {
    right: -30vh;
  }
}
* {
  margin: 0;
  padding: 0;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 199;
}
.header .header-top {
  display: flex;
  height: 80px;
  background: rgba(255, 255, 255, 0.98);
  padding: 0 calc((100% - 1200px)/2);
  box-shadow: 0 0 40px 0 rgba(50, 50, 50, 0.08);
}
.header .header-top .h-left {
  display: flex;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}
.header .header-top .h-left .logo {
  margin-left: 18px;
  width: 36px;
  height: 36px;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-top .h-left .logo img {
  width: 36px;
  height: 36px;
}
.header .header-top .h-left .breadcrumb {
  margin-left: 5px;
  display: flex;
  list-style: none;
  padding: 0;
}
.header .header-top .h-left .breadcrumb a {
  color: #898fa0;
  text-decoration: none;
}
.header .header-top .h-left .breadcrumb .last {
  color: #12183a;
}
.header .header-top .h-left .breadcrumb .dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #006aff;
  position: relative;
  top: -12px;
  left: 2px;
}
.header .header-top .h-left .breadcrumb li::before {
  color: #898fa0;
  content: ">";
  margin: 0 5px;
}
.header .header-top .h-right {
  display: flex;
  flex-basis: 0;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.header .header-top .h-right ul {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  list-style: none;
}
.header .header-top .h-right ul li {
  padding: 0 12px;
  white-space: nowrap;
}
.header .header-top .h-right ul li a {
  color: #898fa0;
  text-decoration: none;
  cursor: pointer;
}
.header .header-top .h-right ul li a:hover {
  color: #12183a;
}
.header .header-top .h-right ul li .dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: relative;
  top: -12px;
  left: 2px;
}
.header .header-top .h-right .select a {
  color: #12183a;
}
.header .header-top .h-right .select .dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #006aff;
  position: relative;
  top: -12px;
  left: 2px;
}
@media screen and (min-width: 660px) {
  .header .header-top .h-right-close {
    display: none;
  }
}
@media screen and (max-width: 660px) {
  .header .header-top .h-left {
    flex-grow: 6;
  }
  .header .header-top .h-right {
    display: none;
  }
  .header .header-top .h-right-close {
    display: flex;
    flex-basis: 0;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    margin-right: 1em;
  }
  .header .header-top .h-right-close svg {
    cursor: pointer;
    width: 2em;
    height: 2em;
  }
}
.header-body-background {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  background: linear-gradient(to top, #f1f5fb, #f9fcff);
  height: 500px;
}
.header-body-background-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.header-body-background-content h2 {
  display: flex;
  margin-top: 4px;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #12183a;
}
.header-body-background-content span {
  display: flex;
  height: 152px;
  font-size: 36px;
  line-height: 48px;
  color: #12183a;
  align-items: center;
}
.header-body-background-content span img {
  width: 56px;
  height: 56px;
}
.grouping {
  display: flex;
  flex-direction: column;
  width: 900px;
  padding: 0 80px;
  font-size: 1.1rem;
  transition: all 0.4s ease-in-out;
}
.grouping p {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
}
.grouping a {
  display: flex;
  text-decoration: none;
  color: #12183a;
  padding: 20px;
}
.grouping a span {
  flex-grow: 1;
}
.grouping a time {
  white-space: nowrap;
}
.grouping a:hover {
  background: #F8F9FB;
  color: #4CA5CE;
  border-radius: 6px;
}
@media screen and (max-width: 660px) {
  .grouping {
    width: 100%;
    max-width: 700px;
    padding: 0px 15px;
    font-size: 1rem;
  }
  .grouping p {
    font-size: 1.5rem;
  }
  .grouping a {
    padding: 15px;
  }
}
.footer {
  display: flex;
  padding: 0 calc((100% - 1160px)/2);
  height: 80px;
}
.footer .Copyright {
  display: flex;
  margin-left: 18px;
  color: #898fa0;
  font-size: 14px;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}
.footer .contact {
  display: flex;
  flex-basis: 0;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.footer .contact a {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  color: #898fa0;
  justify-content: center;
  align-items: center;
}
.footer .contact a img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 600px) {
  .footer {
    padding: 2em;
    flex-direction: column-reverse;
  }
  .footer .Copyright {
    margin: auto;
  }
  .footer .contact {
    margin: auto;
    flex-wrap: wrap;
  }
  .footer .contact a {
    margin-bottom: 10px;
  }
}
/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #000000;
  background: #f9f9f9;
}
.hljs-comment,
.hljs-quote {
  color: #007979;
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  font-weight: bold;
  color: #008000;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}
.hljs-literal {
  font-weight: bold;
  color: #008000;
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #ba2121;
}
.hljs-built_in,
.hljs-class .hljs-title {
  color: #008000;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #008000;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #0000ff;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
.about-header-background {
  display: flex;
  flex-shrink: 0;
  background: linear-gradient(to top, #f1f5fb, #f9fcff);
}
.about-header-background-content {
  display: flex;
  flex-basis: 721px;
  padding: 196px 40px 160px;
  margin: 0 auto;
}
.about-header-background-content h1 {
  display: flex;
  margin-top: 40px;
  font-size: 30px;
  font-weight: 500;
  color: #12183a;
  flex: 1;
  flex-direction: column;
}
.about-header-background-content h1 span {
  display: flex;
  font-size: 15px;
  margin-top: 10px;
  color: #898fa0;
}
.about-header-background-content img {
  display: flex;
  flex: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 30px;
}
.about-content {
  display: flex;
  max-width: 960px;
  margin: -64px auto 50px auto;
  background: #fff;
  border-radius: 10px;
  flex-direction: column;
  transition: all 0.5s ease-out;
}
.about-content-info {
  width: 100%;
  box-sizing: border-box;
  padding: 60px 150px;
  transition: all 0.4s ease-in-out;
}
.about-content-info p {
  font-size: 1.55rem;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 20px;
}
.about-content img {
  display: flex;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 800px) {
  .about-content-info {
    padding: 40px 50px;
  }
}
@media screen and (max-width: 660px) {
  .about-content-info {
    padding: 40px 20px;
  }
}
.archive-content {
  display: flex;
  max-width: 960px;
  margin: -64px auto 50px auto;
  background: #fff;
  border-radius: 10px;
  flex-direction: column;
  transition: all 0.5s ease-out;
}
.archive-content-data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.archive-content-data p {
  margin-top: 20px;
}
.categories-content {
  display: flex;
  max-width: 960px;
  margin: -64px auto 50px auto;
  background: #fff;
  border-radius: 10px;
  flex-direction: column;
  transition: all 0.5s ease-out;
}
.categories-content-data {
  display: flex;
  flex-direction: column;
  padding: 64px 80px;
  font-size: 18px;
  transition: padding 1s;
}
.categories-class {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.categories-class-card {
  margin: 10px;
  flex: 1;
  flex-basis: 300px;
  height: 100px;
  padding: 20px 30px 4px 30px;
  border-radius: 10px;
  background-size: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}
.categories-class-card:hover {
  top: -10px;
  box-shadow: 4px 6px 14px #ddd;
}
.categories-class-card-title {
  color: #fff;
  position: relative;
  z-index: 2;
  font-size: 22px;
  font-weight: bold;
}
.categories-class-card-number {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.categories-class-card-number .categories-length {
  position: relative;
  font-size: 50px;
  color: #fff;
  z-index: 2;
  font-style: oblique;
  font-weight: bold;
}
.categories-class-card-number span {
  position: relative;
  font-size: 20px;
  color: #fff;
  z-index: 2;
  font-style: oblique;
}
.categories-class-card:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url(../images/pattern.png);
  background-repeat: repeat;
  content: "";
}
@media screen and (max-width: 800px) {
  .categories-content-data {
    padding: 64px 50px;
  }
}
@media screen and (max-width: 600px) {
  .categories-content-data {
    padding: 64px 20px;
  }
}
* {
  margin: 0;
  padding: 0;
}
.home .main {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  flex-direction: column;
  margin-top: 0px;
}
.home .main .post-card {
  display: flex;
  max-width: 100%;
  padding: 0 calc((100% - 1200px)/2) 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-top: -64px;
}
.home .main .post-card-display {
  flex-basis: 360px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  min-height: 420px;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 20px 40px 0 rgba(50, 50, 50, 0.08);
  flex-direction: column;
  top: 0px;
  transition: ease-in-out;
  -moz-transition: top 0.5s;
  -webkit-transition: top 0.5s;
  -o-transition: top 0.5s;
}
.home .main .post-card-display:hover {
  cursor: pointer;
  top: -15px;
}
.home .main .post-card-display a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}
.home .main .post-card-display a .post-card-title {
  display: flex;
  flex-grow: 1;
  color: #12183a;
  justify-content: space-between;
}
.home .main .post-card-display a .post-card-title p {
  padding: 30px 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
}
.home .main .post-card-display a .post-card-title .stiky {
  width: 18px;
  height: 18px;
  margin: 8px 6px 0 0;
}
.home .main .post-card-display a .post-card-description {
  padding: 10px 16px;
  text-align: right;
  flex-grow: 1;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  color: #898fa0;
}
.home .main .post-card-display a .img-container {
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, #f1f5fb, #f9fcff);
  position: relative;
}
.home .main .post-card-display a .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.home .main .post-card-meat {
  display: flex;
  padding: 8px 24px 24px 16px;
  justify-content: space-between;
}
.home .main .post-card-meat .meat-info {
  display: flex;
  flex-direction: column;
}
.home .main .post-card-meat .meat-info .info-auth {
  display: flex;
  z-index: 3;
  align-content: flex-start;
  align-items: center;
}
.home .main .post-card-meat .meat-info .info-auth a {
  left: -8px;
  padding: 2px 8px;
  font-size: 14px;
  line-height: 20px;
  color: #898fa0;
  background: transparent;
  border-radius: 12px;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}
.home .main .post-card-meat .meat-info .info-data {
  margin: 8px 0 0 8px;
  font-size: 12px;
  line-height: 18px;
}
.home .main .meat-type {
  width: 32px;
  height: 32px;
  margin-top: 10px;
}
.home .change-page {
  display: inline;
  color: #fff;
  margin: 0 auto;
}
.home .change-page .box {
  border: 1px solid #006aff;
  background: #006aff;
  width: 38px;
  height: 38px;
  line-height: 38px;
  border-radius: 10px;
  margin: 8px;
  box-shadow: 0 20px 40px 0 rgba(50, 50, 50, 0.1);
}
.home .change-page .ellipsis .box {
  border: 2px solid rgba(248, 248, 248, 0.8);
  background: rgba(248, 248, 248, 0.8);
  color: #898fa0;
}
.home .change-page .page {
  display: inline-block;
}
.home .change-page .page a {
  text-decoration: none;
}
.home .change-page .page a .box {
  background: rgba(248, 248, 248, 0.8);
  color: #898FA0;
  transition: all 0.3s ease-out;
  border: 1px solid #fff;
}
.home .change-page .page a .box:hover {
  border: 1px solid #73b1e0;
}
.links-content {
  display: flex;
  max-width: 960px;
  margin: -64px auto 50px auto;
  background: #fff;
  border-radius: 10px;
  flex-direction: column;
  transition: all 0.5s ease-out;
}
.links-content-data {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 32px 40px;
  font-size: 18px;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 0.4s ease-in-out;
}
.links-content-data img {
  display: flex;
  width: 100%;
  height: 100%;
}
.links-content-data-item {
  display: flex;
  padding: 20px;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #F8F9FB;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: ease-in-out;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.links-content-data-item:hover {
  background: #F8F9FB;
  top: -10px;
  box-shadow: 0 10px 10px 0 rgba(50, 50, 50, 0.1);
}
.links-content-data-item a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #12183a;
}
.links-content-data-item .card {
  display: flex;
}
.links-content-data-item .card .user-link-image {
  display: flex;
  width: 48px;
  height: 48px;
}
.links-content-data-item .card .user-link-image img {
  border-radius: 50%;
}
.links-content-data-item .card .user-link-info {
  display: flex;
  flex-direction: column;
  min-width: 166px;
  padding-left: 10px;
  padding-top: 6px;
}
.links-content-data-item .card .user-link-info h1 {
  max-width: 170px;
  color: #12183a;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
}
.links-content-data-item .card .user-link-info span {
  max-width: 170px;
  color: #718096;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.links-content-data-info {
  width: 100%;
  margin-top: 20px;
}
@media screen and (max-width: 800px) {
  .links-content-data {
    padding: 64px 50px;
  }
}
@media screen and (max-width: 600px) {
  .links-content-data {
    padding: 64px 20px;
  }
}
.post-header-background {
  position: relative;
  display: flex;
  width: 100%;
  background: linear-gradient(0deg, #f1f5fb, #f9fcff);
  flex-shrink: 0;
}
.post-header-background-content {
  display: flex;
  margin: 0 auto;
  padding: 196px 40px 160px;
  flex-basis: 721px;
  flex-direction: column;
}
.post-header-background-content h1 {
  margin: 32px 0 24px;
  color: #12183a;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.6;
}
.post-header-background-content .post-header-tag {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.post-header-background-content .post-header-tag li {
  z-index: 4!important;
  background: #fff !important;
  color: #fff;
  display: flex;
  margin-top: 20px;
  margin-right: 16px;
  padding: 6px 14px;
  border-radius: 4px;
  background: rgba(18, 24, 58, 0.06);
  line-height: 20px;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: ease-in-out;
  flex-grow: 0;
}
.post-header-background-content .post-header-tag li:hover {
  background: #bec8d3 !important;
}
.post-header-background-content .post-header-tag li a {
  position: relative;
  z-index: 4 !important;
  color: #12183a;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: ease-in-out;
}
.post-header-background-content .post-header-info {
  display: flex;
}
.post-header-background-content .post-header-info-author {
  display: flex;
  align-items: center;
}
.post-header-background-content .post-header-info-author span {
  margin-left: 8px;
  color: #12183a;
  font-weight: 500;
  font-size: 15px;
}
.post-header-background-content .post-header-info-author span a {
  color: #12183a;
  text-decoration: none;
}
.post-header-background-content .post-header-info-author span a:hover {
  color: #006af7 !important;
}
.post-header-background-content .post-header-info-author p {
  color: #12183a;
  font-size: 14px;
}
.post-header-background-content .post-header-info-author-text {
  display: block;
  margin-right: 15px;
}
.post-header-background-content .post-header-info-author-categories {
  display: flex;
  align-items: center;
}
.post-header-background-content .post-header-info-author-categories a {
  display: block;
  border: 1px solid #12183a;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
  margin-right: 10px;
  color: #12183a;
  text-decoration: none;
}
.post-header-background-content .post-header-info-author-categories a:hover {
  border: 1px solid #409EFF;
  color: #409EFF;
}
.post-header-img {
  height: 100%;
  background-size: cover;
}
.post-header-img h1 {
  z-index: 2;
  color: #fff !important;
}
.post-header-img img {
  display: flex;
  width: 100%;
  height: 100%;
}
.post-header-img:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url(../images/pattern.png);
  background-repeat: repeat;
  content: "";
}
.post-header-img .post-header-info-author {
  position: relative;
  z-index: 4;
}
.post-header-img .post-header-info-author span a {
  color: #fff !important;
}
.post-header-img .post-header-info-author p {
  color: #fff !important;
}
.post-header-img .post-header-info-author-categories a {
  border: 1px solid #f1f5fb !important;
  color: #ffffff !important;
}
.post-header-color {
  background: linear-gradient(0deg, #f1f5fb, #f9fcff) !important;
}
.post-content {
  display: flex;
  max-width: 960px;
  margin: -64px auto 50px auto;
  background: #fff;
  border-radius: 10px;
  flex-direction: column;
  transition: all 0.5s ease-out;
  position: relative;
  z-index: 2;
}
.post-content-info {
  margin: 60px 80px 40px 80px;
  font-size: 1rem;
  transition: all 0.4s ease-in-out;
}
.post-paging {
  display: flex;
  margin: 0 auto 2em;
  max-width: 980px;
  background: hsla(0, 0%, 100%, 0.8);
  transition: all 0.5s ease-out;
}
.post-paging a,
.post-paging a .post-paging-last {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}
.post-paging p {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 90%;
  line-height: 1.6;
  font-size: 16px;
}
.post-paging a {
  color: #12183a;
  font-size: 16px;
  text-decoration: none;
}
.post-paging a .post-paging-last {
  height: 150px;
  border-radius: 10px;
  background-size: 100% 100%;
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  align-content: flex-start;
  justify-content: center;
  flex-direction: column;
}
.post-paging a .post-paging-last:hover {
  margin-top: -10px;
  box-shadow: 0 10px 40px 0 rgba(50, 50, 50, 0.1);
  opacity: 0.7;
}
.post-paging a .post-paging-last span {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 90%;
  line-height: 1.6;
}
.post-paging a .post-paging-next {
  display: flex;
  height: 150px;
  border-radius: 10px;
  background-size: 100% 100%;
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  align-content: flex-end;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  flex-basis: 0;
}
.post-paging a .post-paging-next:hover {
  margin-top: -10px;
  box-shadow: 0 10px 40px 0 rgba(50, 50, 50, 0.1);
  opacity: 0.7;
}
.post-paging a .post-paging-next span {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 90%;
  line-height: 1.6;
}
@media screen and (max-width: 800px) {
  .post-content-info {
    margin: 50px;
  }
}
@media screen and (max-width: 660px) {
  .post-content-info {
    margin: 40px 20px;
  }
}
.tag-content {
  display: flex;
  max-width: 960px;
  margin: -64px auto 50px auto;
  background: #fff;
  border-radius: 10px;
  flex-direction: column;
  transition: all 0.5s ease-out;
}
.tag-content-data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.tag-content-data .grouping {
  margin-top: 64px;
}
.tag-content-data p {
  margin-top: 20px;
}
.tags-content {
  display: flex;
  max-width: 960px;
  margin: -64px auto 50px auto;
  background: #fff;
  border-radius: 10px;
  flex-direction: column;
  transition: all 0.5s ease-out;
}
.tags-content-data {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 64px 80px;
  font-size: 1rem;
  flex-wrap: wrap;
  transition: all 0.4s ease-in-out;
}
.tags-content-data h2 {
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
  color: #424242;
  font-size: 1.7rem;
}
.tags-content-data a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
}
.tags-content-data a > span {
  background-color: rgba(96, 125, 139, 0.05);
  line-height: 2.4;
  transition: all 0.15s;
  padding: 0 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  position: relative;
  top: 0;
  color: #43576B;
  font-weight: 400;
  font-size: 16px;
}
.tags-content-data a > span:hover {
  top: -2px;
  background-color: #607d8b;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.tags-content-data a > span > i {
  text-align: center;
  color: #F56C6C;
  font-size: 15px;
  font-weight: 500;
}
@media screen and (max-width: 660px) {
  .tags-content-data {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 800px) {
  .tags-content-data {
    padding: 64px 50px;
  }
}
.galleries .main {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  flex-direction: column;
  margin-top: -64px;
}
.galleries .main .post-block {
  padding: 0 calc((100% - 1160px)/2);
  margin-bottom: 50px;
}
.galleries .main .post-block-content {
  margin: 20px 100px 80px 100px;
  text-decoration: none;
  height: 300px;
  justify-content: center;
  /* 添加此行以实现水平居中对齐 */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  /* 控制子容器之间的间距 */
  position: relative;
  top: 0px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.galleries .main .post-block-content:hover {
  top: -15px;
}
.galleries .main .post-block-content .img-container {
  justify-content: center;
  display: flex;
  transform: rotate(-5deg);
  transition: transform ease-in-out 0.5s;
}
.galleries .main .post-block-content .img-container:hover {
  transform: rotate(-10deg);
}
.galleries .main .post-block-content .img-container .photo-frames {
  width: 220px;
  border: 10px solid #fff;
  /* 相框的边框样式和颜色 */
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 20px 40px 0 rgba(50, 50, 50, 0.2);
}
.galleries .main .post-block-content .img-container .photo-frames img {
  border-radius: 2px;
  margin-top: 10px;
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.galleries .main .post-block-content .title {
  bottom: 15px;
  position: absolute;
  font-weight: bold;
  text-decoration: none;
  color: #12183a;
  font-size: 22px;
  font-weight: 500;
}
.galleries .main .post-block-content .description-container {
  margin-top: 80px;
}
.galleries .main .post-block-content .description-container p {
  text-indent: 2em;
  font-size: 20px;
  position: absolute;
}
@media screen and (max-width: 660px) {
  .galleries .main .post-block-content {
    margin: 20px 20px 80px 20px;
    padding: 20px;
  }
  .galleries .main .post-block-content .title {
    bottom: 5%;
  }
  .galleries .main .post-block-content .description-container {
    margin-top: 40px;
  }
  .galleries .main .post-block-content .description-container p {
    font-size: 18px;
  }
}
@media screen and (max-width: 489px) {
  .galleries .main .post-block-content {
    height: 400px;
  }
  .galleries .main .post-block-content .description-container {
    margin-top: 40px;
  }
}
.galleries .main .post-card {
  display: flex;
  max-width: 100%;
  padding: 0 calc((100% - 1200px)/2) 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-top: -64px;
}
.galleries .main .post-card-content {
  margin: 20px 40px 80px 40px;
  text-decoration: none;
  height: 400px;
  justify-content: center;
  /* 添加此行以实现水平居中对齐 */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  /* 控制子容器之间的间距 */
  position: relative;
  top: 0px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.galleries .main .post-card-content:hover {
  top: -15px;
}
.galleries .main .post-card-content .img-container {
  justify-content: center;
  display: flex;
  transform: rotate(-5deg);
  transition: transform ease-in-out 0.5s;
}
.galleries .main .post-card-content .img-container:hover {
  transform: rotate(-10deg);
}
.galleries .main .post-card-content .img-container .photo-frames {
  width: 220px;
  border: 10px solid #fff;
  /* 相框的边框样式和颜色 */
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 20px 40px 0 rgba(50, 50, 50, 0.2);
}
.galleries .main .post-card-content .img-container .photo-frames img {
  border-radius: 2px;
  margin-top: 10px;
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.galleries .main .post-card-content .title {
  bottom: 15px;
  position: absolute;
  font-weight: bold;
  text-decoration: none;
  color: #12183a;
  font-size: 22px;
  font-weight: 500;
}
.galleries .main .post-card-content .description-container {
  margin-top: 40px;
}
.galleries .main .post-card-content .description-container p {
  text-indent: 2em;
  font-size: 20px;
  position: absolute;
}
@media screen and (max-width: 640px) {
  .galleries .main .post-card-content {
    margin: 40px 20px;
    padding: 20px;
    height: 400px;
  }
  .galleries .main .post-card-content .title {
    bottom: 5%;
  }
}
.gallery-content {
  width: 100%;
  padding: 2px 0;
  max-width: 1200px;
  margin: -64px auto auto auto;
  border-radius: 10px;
  background: #fff;
  /* clear fix */
  /* ---- .grid-item ---- */
}
.gallery-content .grid:after {
  content: '';
  display: block;
  clear: both;
}
.gallery-content .grid-sizer,
.gallery-content .grid-item {
  width: 33.33%;
}
.gallery-content .grid-item {
  float: left;
  padding: 10px;
}
.gallery-content .grid-item img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.gallery-content .grid-item img:hover {
  transform: scale(1.1);
}
.gallery-content .description-container {
  z-index: 2;
  position: sticky;
  width: 100%;
  left: 0;
  right: 0;
  height: 40px;
  bottom: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0));
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.gallery-content .description-container span {
  font-size: 18px;
  color: #12183a;
  text-shadow: 0 0 10px rgba(128, 128, 128, 0.8);
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.gallery-content hr {
  margin: 12px 0 12px;
  height: 2px;
  border: none;
  background: #EFEFEF;
}
.gallery-content .gitalk,
.gallery-content .giscus {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 660px) {
  .gallery-content .grid-sizer,
  .gallery-content .grid-item {
    width: 100%;
  }
}
.view404 {
  width: 100%;
  min-height: 700px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.view404 .view404-logo {
  width: 200px;
  margin-top: 100px;
}
.view404 p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #12183a;
  margin: 20px 0;
}
.view404 .title {
  font-size: 100px;
}
.view404-btn {
  width: 140px;
  height: 60px;
  border: 2px solid #898fa0;
  text-align: center;
  border-radius: 5px;
  margin: 30px auto;
  transition: all 0.2s ease-out;
}
.view404-btn a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-decoration: none;
  color: #12183a;
  font-size: 1.4em;
}
.view404-btn:hover {
  border: 2px solid #73b1e0;
  background: #73b1e0;
}
.view404-btn:hover a {
  color: #fff;
}
