.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    img {
        width: 100%;
        height: auto;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    }
    .no-shadow{
        box-shadow: none;
    }
}
