<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script>.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    img {
        width: 100%;
        height: auto;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    }
}
