.poem {
  max-width: 240px;
  margin: 5px auto;
  background: #ffe70020;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  transition: background 0.3s, color 0.3s;
}

.poem .poem-title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.poem .poem-author {
  font-size: 0.9em;
  text-align: center;
  color: var(--text-secondary);
}

.poem .poem-content {
  text-align: center;
}

.poem .poem-content p {
  text-indent: 0.5em;
}
