.slider {
    box-sizing: border-box;
    position: relative;
    width: 80%;
    padding-bottom: 56.25%;
    height: 0;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (max-width: 660px) {
    .slider {
        width: 95%;
        padding-bottom: 71.25%;
    }
}

.slider a {
    display: block;
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.mask {
    position: absolute;
    left: 49.5%; /* 初始化在中间 */
    top: 0;
    width: 1%; /* 滑块宽度 */
    height: 100%;
    background: rgba(0, 0, 0, 0.66); /* 半透明滑块 */
    cursor: ew-resize;
    z-index: 2;
}

.slider .left-image {
    clip-path: inset(0 50% 0 0); /* 初始剪裁右半部分 */
    max-width: 100%;
    display: block;
    margin: 0;
    max-height: none;
}

.slider .right-image {
    clip-path: inset(0 0 0 50%); /* 初始剪裁左半部分 */
    max-width: 100%;
    display: block;
    margin: 0;
    max-height: none;
}