.subfields {
    display: flex;
    border: 2px solid var(--border);
    transition: border 0.5s ease-in-out;
    margin: 5px auto;
}

.subfields > .subfield {
    flex: 1;
    transition: border 0.5s ease-in-out;
    padding: 0 10px;
    overflow: auto;
    /* align-content: center; */
}

.subfields > :not(:first-child).subfield {
    border-left: 1px solid var(--border);
}