.subfields {
    display: flex;
    border: 2px solid var(--border);
    border-left: none;
    transition: border 0.5s ease-in-out;
    margin: 5px auto;
}

.subfield {
    flex: 1;
    border-left: 2px solid var(--border);
    transition: border 0.5s ease-in-out;
    padding: 10px;
}