.timeline {
    display: flex;
    justify-content: center;
}

.timeline .entries {
    position: relative;
    width: 800px;
    padding: 10px 0;
    margin: 5px 0;
}

.timeline .entries::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: var(--text-link);
    transform: translateX(-50%);
}

.timeline .entry {
    position: relative;
    width: 50%;
    padding: 5px 20px;
    box-sizing: border-box;
}

.timeline a {
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
}

.timeline a:hover {
    transform: translateY(-10px);
}

.timeline .entry:nth-child(odd) {
    left: 50%;
    text-align: left;
}

.timeline .entry:nth-child(even) {
    left: 0;
    text-align: right;
}

.timeline .entry .title {
    font-weight: bold;
    font-size: 20px;
    color: var(--text-primary);
    transition: color 0.5s ease-in-out;
    position: relative;
}

.timeline .entry .title::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 4px solid hsl(206, 64%, 20%);
    background-color: #fff;
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .entry:nth-child(odd) .title::before {
    left: -32px;
}

.timeline .entry:nth-child(even) .title::before {
    right: -32px;
}

.timeline .entry .body img {
    margin: 10px 0 !important;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 660px) {
    .timeline .entries::before {
        left: 20px;
        transform: none;
    }

    .timeline .entry {
        width: 100%;
        left: 0 !important;
        text-align: left !important;
        padding-left: 50px;
        padding-right: 20px;
    }

    .timeline .entry .title::before {
        left: -38px !important;
        right: auto !important;
    }
}
