.timeline {
    display: flex;

    .entries {
        max-width: 800px;
        margin-left: 20px;
        position: relative;
        left: -5px;
        border-left: 4px solid var(--text-link);

        .entry {
            padding: 30px 0 0 30px;
            clear: both;
            text-align: left;

            &:not(:first-child) {
                margin-top: -60px;
            }

            .title {
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 12px;
                position: relative;
                color: var(--text-primary);
                transition: color 0.5s ease-in-out;

                &:before {
                    content: '';
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border: 4px solid hsl(206, 64%, 20%);
                    background-color: #FFF;
                    border-radius: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -40px;
                    z-index: 1000;
                }
            }

            .body {
                margin-bottom: 60px;

                img {
                    max-width: max(50%, 300px) !important;
                    margin: 10px 0 15px !important;
                    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}