.timeline {
    display: flex;

    .entries {
        max-width: 800px;
        margin-left: 20px;
        position: relative;
        left: -5px;
        border-left: 4px solid #73b1e0;

        .entry {
            padding: 30px 0 0 30px;
            clear: both;
            text-align: left;

            &:not(:first-child) {
                margin-top: -60px;
            }

            .title {
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 12px;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border: 4px solid hsl(206, 64%, 20%);
                    background-color: #FFF;
                    border-radius: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -40px;
                    z-index: 1000;
                }
            }

            .body {
                margin-bottom: 60px;

                p {
                    line-height: 1.4em;
                }

                img {
                    max-width: max(50%, 300px) !important;
                    margin: 20px 0 !important;
                    box-shadow: 0 10px 40px 0 rgba(50, 50, 50, 0.6);
                }
            }
        }
    }
}