.button {
    background: #3498db;
    width: 180px;
    padding: 4px 0;
    margin: 0 auto;
    border-radius: 3px;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 5px 5px 5px #888888;

    p {
        text-align: center;
        text-transform: uppercase;
        color: #FFF;
        user-select: none;
    }

    &:hover {
        cursor: pointer;
    }
}