* {
  margin: 0;
  padding: 0;
}
.main-header {
  height: 360px;
  width: 100vw;
  position: absolute;
  left: 0;
  display: flex;
}
header nav {
  width: 100%;
  position: fixed;
  display: flex;
  height: 60px;
  background: var(--background-secondary);
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.08);
  border-bottom: 2px solid var(--border);
  transition: background 0.3s ease-in-out;
  backdrop-filter: blur(3px);
  z-index: 5;
}
header nav .nav-left {
  padding-left: calc((100% - 1400px) / 2);
  display: flex;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  margin-left: 12px;
}
header nav .nav-left .logo {
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 8px;
}
header nav .nav-left .logo.last,
header nav .nav-left .logo:hover {
  border-bottom: 3px solid var(--text-link);
}
header nav .nav-left .logo img {
  width: 36px;
  height: 36px;
}
header nav .nav-left .breadcrumb {
  margin-left: 2px;
  display: flex;
  list-style: none;
  height: 100%;
}
header nav .nav-left .breadcrumb li {
  display: flex;
  align-items: center;
  height: 100%;
}
header nav .nav-left .breadcrumb li::before {
  color: var(--text-secondary);
  content: ">";
  transition: color 0.5s ease-in-out;
}
header nav .nav-left .breadcrumb a {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--text-secondary);
  text-decoration: none;
  padding: 0 8px;
}
header nav .nav-left .breadcrumb a:hover {
  color: var(--text-primary);
  border-bottom: 3px solid var(--text-link);
}
header nav .nav-left .breadcrumb .last a {
  color: var(--text-primary);
  border-bottom: 3px solid var(--text-link);
}
header nav .nav-left .breadcrumb .dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--text-link);
  position: relative;
  top: -12px;
  left: 2px;
  transition: background 0.5s ease-in-out;
}
header nav .nav-right {
  padding-right: calc((100% - 1400px) / 2);
  display: flex;
  flex-basis: 0;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
header nav .nav-right ul {
  display: flex;
  height: 100%;
}
header nav .nav-right ul li {
  display: flex;
  align-items: center;
  height: 100%;
}
header nav .nav-right ul li a {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--text-secondary);
  text-decoration: none;
  padding: 0 14px;
}
header nav .nav-right ul li a:hover {
  color: var(--text-primary);
  border-bottom: 3px solid var(--text-link);
}
header nav .nav-right ul li .dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: relative;
  top: -12px;
  left: 2px;
}
header nav .nav-right .select a {
  color: var(--text-primary);
  transition: color 0.5s ease-in-out;
  border-bottom: 3px solid var(--text-link);
}
header nav .nav-right .select a:hover {
  transform: translateY(0);
}
header nav .nav-right .select .dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--text-link);
  transition: background 0.5s ease-in-out;
  position: relative;
  top: -12px;
  left: 2px;
}
header .header-background {
  width: 100%;
  display: flex;
  height: 600px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
header .header-background:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-image: url(../images/pattern.png);
  background-repeat: repeat;
  content: "";
}
header .header-background-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  max-width: 80%;
}
header .header-background-content h1 {
  margin: 12px 0 28px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
header .header-background-content span {
  display: flex;
  height: 120px;
  font-size: 36px;
  line-height: 48px;
  color: var(--text-primary);
  transition: color 0.5s ease-in-out;
  align-items: center;
}
header .header-background-content span img {
  width: 56px;
  height: 56px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.8));
}
@media screen and (min-width: 960px) {
  header nav .nav-right-close {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  header nav .nav-left {
    flex-grow: 10;
  }
  header nav .nav-right {
    display: none;
  }
  header nav .nav-right-close {
    display: flex;
    flex-basis: 0;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    margin-right: 1em;
  }
  header nav .nav-right-close svg {
    cursor: pointer;
    width: 2em;
    height: 2em;
  }
}
@media screen and (max-width: 660px) {
  header .header-background {
    height: 480px;
  }
  header .header-background:before {
    height: 480px;
  }
  .header-body-background-content {
    max-width: 90%;
    transform: translateY(-10px);
  }
  .header-body-background-content span {
    height: 100px;
  }
}
