.artifact-container {
    display: flex;
    border: 2px solid var(--text-link);
    margin: 10px 0;
    padding: 15px;
}

.reverse .artifact-container {
    flex-direction: row-reverse;
}

.artifact-img-container img {
    max-width: 100%;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.artifact-img-container .hidden {
    display: none;
}

.artifact-img-container {
    margin-bottom: 15px;
}

.artifact-container-left {
    margin-right: 18px;
    justify-content: center;
}

.artifact-container-right {
    width: 125%;
    margin: 0;
}

.artifact-container-right .title {
    margin: 5px auto;
    font-weight: bold;
    font-size: 18px;
}

.artifact-container-left,
.artifact-container-right {
    display: flex;
    flex-direction: column;
}

.artifact-button-container {
    display: flex;
    justify-content: center;
}

.artifact-button-container button {
    margin: 0 5px;
    padding: 2px;
}

.artifact-button-container .pressed {
    border: 2px solid var(--text-link);
}

@media screen and (max-width: 660px) {
    .artifact-container {
        flex-direction: column !important;
    }

    .artifact-container-left {
        margin: 0;
    }

    .artifact-container-right {
        width: auto;
        margin: 10px 0 5px;
    }

}