#book {
    margin: 0.5em auto;
}

#book div img {
    border: 2px solid var(--border);
    margin: 0 auto;
    max-width: calc(100% - 4px);
    pointer-events: none;
}

#book div img .odd {
    border-right: none;
}

#book div img .even {
    border-left: none;
}

#book .turn-page {
    background-color: #ddd;
    background-size: 100% 100%;
}

.book-container .book-bottom {
    border: 2px solid var(--border);
    padding: 5px 10px;
    transition: border 0.5s ease-out;
}

.book-container .book-bottom .tools {
    display: flex;
    justify-content: center;
    margin: 5px auto;
}

.book-container .book-bottom #page {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

.book-container .book-bottom .tools button{
    margin: 0 5px;
    font-size: 16px;
}

.book-container .book-bottom .desc-contianer {
    display: flex;
}

.book-container .book-bottom .desc-contianer .desc {
    margin-left: 5px;
    width: calc(100% - 205px);
}