* {
  scrollbar-color: var(--scrollbar-color) transparent;
}
body {
  background: var(--global-bg);
  transition: background 0.2s ease-in-out;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-size: 16px;
  position: relative;
  font-weight: 600;
  outline: none;
  color: var(--text-primary);
  transition: color 0.5s ease-in-out;
}
article h1 {
  font-size: 28px;
  font-weight: 900;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--text-link);
}
article h1 a:hover {
  border-bottom: 0;
}
article h2 {
  font-size: 24px;
  border-left: 3px solid var(--text-link);
  padding-left: 10px;
}
article h1,
article h2 {
  line-height: 40px;
  margin: 15px 0;
}
article h3 {
  font-size: 22px;
  margin: 15px 0;
}
article h4 {
  font-size: 20px;
  margin: 12px 0;
}
article h5 {
  font-size: 19px;
  margin: 10px 0;
}
article a {
  position: relative;
  color: var(--text-link);
  cursor: pointer;
  text-decoration: none;
  word-wrap: break-word;
}
article a:hover {
  text-decoration: underline;
}
article hr {
  margin: 15px 0;
  height: 2px;
  border: none;
  background: var(--hr-color);
  transition: background 0.5s ease-in-out;
}
article code {
  border-radius: 4px;
}
article code li {
  list-style: none;
}
article img {
  max-width: 80%;
  margin: 5px auto;
  text-align: center;
  display: flex;
  outline: none;
  border: 0;
}
@media screen and (max-width: 660px) {
  article img {
    max-width: 95%;
  }
}
article pre {
  font-size: 0.9em;
  line-height: 1.5em;
  display: flex;
  max-width: 100%;
  position: relative;
}
article pre code {
  overflow-x: auto;
  flex: 1;
  text-align: left;
  width: fit-content;
  padding: 10px 15px;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  border-radius: 0;
}
article details summary {
  cursor: pointer;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--text-primary);
  transition: color 0.5s ease-in-out;
}
article center,
article p {
  display: block;
  margin: 5px auto;
  line-height: 30px;
  color: var(--text-primary);
  box-sizing: border-box;
  transition: color 0.5s ease-in-out;
}
article p {
  text-align: justify;
}
article ol {
  margin: 5px 0 5px 15px;
}
article ol li {
  color: var(--text-primary);
  margin-left: 15px;
  line-height: 30px;
  transition: color 0.5s ease-in-out;
}
article ul {
  margin: 5px 0;
}
article ul li {
  color: var(--text-primary);
  list-style: none;
  margin: 5px 0 5px 15px;
  line-height: 30px;
  transition: color 0.5s ease-in-out;
}
article ul li blockquote {
  margin-left: 20px;
}
article ul li li:before {
  content: "○";
  margin-left: 10px;
}
article ul li li li:before {
  content: "■";
  margin-left: 25px;
}
article ul li:before {
  content: "●";
  float: left;
  margin-right: 10px;
  line-height: 28px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}
article blockquote {
  background: var(--blockquote-bg);
  border-left: 4px solid var(--border);
  margin: 15px 0;
  padding: 2px;
  transition: all 0.3s ease-in-out;
}
article blockquote p,
article blockquote h1,
article blockquote h2,
article blockquote h3,
article blockquote h4,
article blockquote h5,
article blockquote h6,
article blockquote center {
  margin: 4px 15px;
  color: var(--text-secondary);
  transition: color 0.5s ease-in-out;
}
article blockquote li {
  color: var(--text-secondary);
  transition: color 0.5s ease-in-out;
}
article blockquote li p {
  margin: 0 15px 0 0;
}
article blockquote ol {
  margin-left: 35px;
}
article blockquote .highlight {
  margin: auto 20px;
}
article p code,
article td code:not(pre code),
article ul code:not(pre code),
article li code:not(pre code) {
  font-size: 0.9em;
  margin: 0 4px;
  padding: 3px 6px;
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  color: var(--text-primary);
  background: var(--code-bg);
  border-radius: 3px;
  word-wrap: break-word;
  transition: all 0.5s ease-in-out;
}
article p strong {
  font-weight: bold;
}
article .table-container {
  overflow-x: auto;
}
article table {
  width: 100%;
  border-collapse: collapse;
  line-height: 1.2em;
  box-shadow: 0 0 2px #d4d4d4;
  margin: 10px auto;
  border: 1px solid var(--code-bg);
}
article table td:hover,
article table tr:hover {
  background: var(--code-bg);
}
article table tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
article table tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
article table tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}
article table tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}
article table td {
  border-bottom: 1px solid var(--code-bg);
  border-right: 1px solid var(--code-bg);
}
article table tr:first-child td {
  border-top: 1px solid var(--code-bg);
}
article table tr td:first-child {
  border-left: 1px solid var(--code-bg);
}
article thead {
  text-indent: 1em;
}
article thead tr {
  height: 2.5em;
}
article thead tr:nth-child(odd) {
  background: hsla(0, 0%, 96.5%, 0.51);
}
article thead th {
  color: var(--text-primary);
  background: var(--code-bg);
  text-align: left;
  transition: color 0.5s ease-in-out;
}
article tbody tr {
  line-height: 2em;
  transition: color 0.5s ease-in-out;
}
article tbody th {
  color: var(--text-primary);
  transition: color 0.5s ease-in-out;
}
article tbody td {
  color: var(--text-primary);
  font-weight: 400;
  padding: 0;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
  transition: color 0.5s ease-in-out;
}
article tbody td.code {
  padding-left: 0;
  padding-right: 0;
}
