article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-size: 16px;
  position: relative;
  font-weight: 600;
  outline: none;
  color: #333;
}
article h1 {
  font-size: 32px;
  font-weight: 900;
  padding-bottom: 10px;
  border-bottom: 2px solid #4183c4;
}
article h1 a:hover {
  border-bottom: 0;
}
article h2 {
  font-size: 25px;
  border-left: 3px solid #4183c4;
  padding-left: 10px;
}
article h1,
article h2 {
  line-height: 40px;
  margin: 20px 0 15px;
}
article h3 {
  font-size: 24px;
  padding: 15px 0 10px;
}
article h4 {
  font-size: 20px;
  padding: 15px 0 10px;
}
article h5 {
  font-size: 19px;
  padding: 15px 0 10px;
}
article a {
  position: relative;
  color: #4183c4;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
}
article a:hover {
  text-decoration: underline;
}
article hr {
  margin: 12px 0 12px;
  height: 2px;
  border: none;
  background: #efefef;
}
article code {
  border-radius: 4px;
}
article code li {
  list-style: none;
}
article img {
  max-width: 80%;
  margin: 8px auto;
  text-align: center;
  display: flex;
  outline: none;
  border: 0;
}
@media screen and (max-width: 660px) {
  article img {
    max-width: 95%;
  }
}
article pre {
  font-size: 0.9em;
  line-height: 1.5em;
  display: flex;
  max-width: 100%;
  position: relative;
}
article pre code {
  overflow-x: auto;
  flex: 1;
  text-align: left;
  width: fit-content;
  padding: 10px 15px;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}
article center,
article p {
  display: block;
  margin: 5px auto;
  line-height: 30px;
  color: #333;
  box-sizing: border-box;
}
article p {
  text-align: justify;
}
article ol {
  padding: 10px;
}
article ol li {
  margin-left: 15px;
  line-height: 30px;
}
article ul {
  margin: 5px 0;
}
article ul li {
  color: #000;
  list-style: none;
  margin: 10px 16px;
  line-height: 30px;
}
article ul li blockquote {
  margin-left: 20px;
}
article ul li li:before {
  content: "\25E6";
  margin-left: 10px;
}
article ul li li li:before {
  content: "\220E";
  font-size: 12px;
}
article ul li:before {
  content: "\2022";
  float: left;
  margin-right: 10px;
  line-height: 28px;
  font-size: 24px;
  font-weight: 500;
}
article blockquote {
  background: #fafafa;
  border-left: 4px solid #e0e2e5;
  margin: 15px 0;
  padding: 2px;
}
article blockquote p,
article blockquote h1,
article blockquote h2,
article blockquote h3,
article blockquote h4,
article blockquote h5,
article blockquote h6,
article blockquote center,
article blockquote li {
  margin: 4px 20px;
  color: #777;
  font-size: 16px;
}
article blockquote .highlight {
  margin: auto 20px;
}
article p code,
article td code:not(pre code),
article ul code:not(pre code),
article li code:not(pre code) {
  font-size: 0.9em;
  margin: 0 4px;
  display: inline;
  padding: 3px 6px;
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
  color: #121212;
  background: #f1f5fb;
  border-radius: 3px;
}
article p strong {
  font-weight: bold;
}
article table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.2em;
  box-shadow: 0 0 2px #d4d4d4;
  word-wrap: break-word;
  table-layout: fixed;
  margin: 10px auto;
  border: 1px solid rgba(153, 169, 191, 0.1);
  overflow: hidden;
}
article table td:hover,
article table tr:hover {
  background: rgba(153, 169, 191, 0.1);
}
article table tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
article table tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
article table tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}
article table tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}
article table td {
  border-bottom: 1px solid rgba(153, 169, 191, 0.1);
  border-right: 1px solid rgba(153, 169, 191, 0.1);
}
article table tr:first-child td {
  border-top: 1px solid rgba(153, 169, 191, 0.1);
}
article table tr td:first-child {
  border-left: 1px solid rgba(153, 169, 191, 0.1);
}
article thead {
  text-indent: 1em;
}
article thead tr {
  height: 2.5em;
}
article thead tr:nth-child(odd) {
  background: hsla(0, 0%, 96.5%, 0.51);
}
article thead th {
  background: rgba(153, 169, 191, 0.1);
  text-align: left;
}
article tbody tr {
  line-height: 2em;
}
article tbody td {
  color: #333;
  font-weight: 400;
  padding: 0;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
}
article tbody td.code {
  padding-left: 0;
  padding-right: 0;
}
