[data-theme='light'] {
    --global-bg: #f1f5fb;
    --text-primary: #222;
    --text-secondary: #707070;
    --text-link: #3c79b6;
    --background-primary: #fff;
    --background-secondary: rgba(255, 255, 255, 0.95);
    --background-tertiary: #efefef;
    --blockquote-bg: #fafafa;
    --border: #e0e2e5;
    --code-bg: #f1f5fb;
    --highlight-tools-bg: #e6ebf1;
    --highlight-tools-text: #b3b3b3;
    --tabs-bg: var(--tabs-bg);
    --gallery-content-description-bg: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0));
    --tr-bg: hsla(0, 0%, 96.5%, 0.51);
    --scrollbar-color: auto;
    --hr-color: #efefef;
    --strong-color: #333;
}

[data-theme='dark'] {
    --global-bg: #0d0d0d;
    --text-primary: #ddd;
    --text-secondary: #aaa;
    --text-link: #d86666;
    --background-primary: #1a1a1a;
    --background-secondary: rgba(0, 0, 0, 0.95);
    --background-tertiary: rgba(0, 0, 0, 0.95);
    --blockquote-bg: transparent;
    --border: #666;
    --code-bg: #2c2c2c;
    --highlight-tools-bg: #1a1a1a;
    --highlight-tools-text: #cdcdcd;
    --tabs-bg: #2c2c2c;
    --tr-bg: rgba(0, 0, 0, 0.51);
    --gallery-content-description-bg: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    --scrollbar-color: #525252;
    --hr-color: #666;
    --strong-color: #fff;
}