/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

*/
[data-theme='dark'] pre code {
  color: #ccc;
  background: #1f1f1f;
}
[data-theme='dark'] .hljs-comment,
[data-theme='dark'] .hljs-quote {
  color: #6a9955;
  font-style: italic;
}
[data-theme='dark'] .hljs-doctag,
[data-theme='dark'] .hljs-keyword,
[data-theme='dark'] .hljs-formula,
[data-theme='dark'] .hljs-literal {
  font-weight: bold;
  color: #569cd6;
}
[data-theme='dark'] .hljs-section,
[data-theme='dark'] .hljs-name,
[data-theme='dark'] .hljs-selector-tag,
[data-theme='dark'] .hljs-deletion,
[data-theme='dark'] .hljs-subst {
  color: #d7ba7d;
}
[data-theme='dark'] .hljs-string,
[data-theme='dark'] .hljs-regexp,
[data-theme='dark'] .hljs-addition,
[data-theme='dark'] .hljs-attribute,
[data-theme='dark'] .hljs-meta-string {
  color: #ce9178;
}
[data-theme='dark'] .hljs-built_in,
[data-theme='dark'] .hljs-class .hljs-title {
  color: #dcdcaa;
}
[data-theme='dark'] .hljs-attr,
[data-theme='dark'] .hljs-variable,
[data-theme='dark'] .hljs-template-variable,
[data-theme='dark'] .hljs-type,
[data-theme='dark'] .hljs-selector-class,
[data-theme='dark'] .hljs-selector-attr,
[data-theme='dark'] .hljs-selector-pseudo {
  color: #d7ba7d;
}
[data-theme='dark'] .hljs-number {
  color: #b5cea8;
}
[data-theme='dark'] .hljs-symbol,
[data-theme='dark'] .hljs-bullet,
[data-theme='dark'] .hljs-link,
[data-theme='dark'] .hljs-meta,
[data-theme='dark'] .hljs-selector-id,
[data-theme='dark'] .hljs-title {
  color: #dcdcaa;
}
[data-theme='dark'] .hljs-emphasis {
  font-style: italic;
}
[data-theme='dark'] .hljs-strong {
  font-weight: bold;
}
[data-theme='dark'] .hljs-link {
  text-decoration: underline;
}
