.poem>.top {
    margin: 0 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-primary);
}

.top>h1 {
    font-size: 1.2em;
}

.poem>p {
    text-align: center;
    color: var(--text-secondary);
    overflow: auto;
}