.aside {
  margin-top: -100px;
  margin-bottom: 95px;
}
.aside-top {
  position: relative;
  z-index: 2;
  margin-left: 20px;
  width: min(260px, 20vw);
}
.aside-top > div {
  margin-bottom: 15px;
}
.aside-bottom {
  position: sticky;
  top: 80px;
  margin-left: 20px;
  width: min(260px, 20vw);
}
.aside-bottom > div {
  margin-bottom: 15px;
}
.aside .aside-card {
  width: calc(100% - 20px);
  border-radius: 10px;
  background: var(--background-primary);
  box-shadow: 0 1px 3px hsla(0, 0%, 7%, 0.2);
  padding: 10px;
  transition: background 0.3s ease-out;
}
.aside-top-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aside-top-about .portrait {
  margin: 10px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: transform 0.5s ease-out;
}
.aside-top-about .portrait:hover {
  transform: translateY(-10px);
}
.aside-top-about .portrait img {
  width: 100%;
  height: 100%;
}
.aside-top-about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.aside-top-about-info .author {
  font-size: 20px;
  color: var(--text-primary);
  transition: color 0.5s ease-out;
}
.aside-top-about-info .description {
  margin: 5px 0;
  color: var(--text-secondary);
  transition: color 0.5s ease-out;
}
.aside-top-about-site {
  margin: 5px 0;
  display: flex;
  width: 80%;
  max-width: 240px;
  justify-content: space-around;
}
.aside-top-about-site-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 0 5px;
}
.aside-top-about-site-item .title {
  color: var(--text-primary);
}
.aside-top-about-site-item .count {
  color: var(--text-secondary);
}
.aside-top-about-site-item:hover span {
  color: var(--text-link);
}
.aside-top-series {
  display: flex;
  flex-direction: column-reverse;
}
.aside-top-series .series {
  margin: 5px;
  max-height: 320px;
}
.aside-top-series .top,
.aside-bottom-toc .top {
  display: flex;
  justify-content: space-between;
}
.aside-top-series .top h1,
.aside-bottom-toc .top h1,
.aside-top-series .top #serial-number,
.aside-bottom-toc .top #serial-number {
  font-weight: bold;
  font-size: 1.1em;
  transition: color 0.5s ease-out;
  color: var(--text-primary);
}
.aside-top-series .top h1,
.aside-bottom-toc .top h1 {
  margin-left: 10px;
}
.aside-top-series .top h1 a,
.aside-bottom-toc .top h1 a {
  color: var(--text-primary);
  text-decoration: none;
}
.aside-top-series .top h1 a:hover,
.aside-bottom-toc .top h1 a:hover {
  text-decoration: underline;
  color: var(--text-link);
}
.aside-top-series .top #serial-number,
.aside-bottom-toc .top #serial-number {
  margin-right: 10px;
}
.aside-top-series ol,
.aside-bottom-toc ol {
  list-style-type: none;
  display: block;
  overflow: auto;
}
.aside-top-series ol::-webkit-scrollbar,
.aside-bottom-toc ol::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.aside-top-series ol::-webkit-scrollbar-thumb,
.aside-bottom-toc ol::-webkit-scrollbar-thumb {
  background-color: #AAA;
  border-radius: 10px;
}
.aside-top-series ol .toc-link,
.aside-bottom-toc ol .toc-link,
.aside-top-series ol .series-link,
.aside-bottom-toc ol .series-link {
  line-height: 24px;
  padding: 2px 10px;
  margin-right: 5px;
  display: flex;
}
.aside-top-series ol li,
.aside-bottom-toc ol li {
  background: none;
  width: 100%;
}
.aside-top-series ol li a,
.aside-bottom-toc ol li a {
  color: var(--text-secondary);
  text-decoration: none;
}
.aside-top-series ol li a:hover,
.aside-bottom-toc ol li a:hover {
  color: var(--text-link);
}
.aside-top-series ol li a:hover .text,
.aside-bottom-toc ol li a:hover .text {
  text-decoration: underline;
}
.aside-top-series ol li.active > a,
.aside-bottom-toc ol li.active > a {
  background: var(--text-link);
  text-decoration: none;
}
.aside-top-series ol li.active > a span,
.aside-bottom-toc ol li.active > a span {
  color: var(--background-primary);
}
.aside-top-series ol a:hover,
.aside-bottom-toc ol a:hover {
  background: var(--background-tertiary);
}
.aside-top-series ol a:hover span,
.aside-bottom-toc ol a:hover span {
  color: var(--text-link);
}
.aside-top-series ol .toc-level-2 > a > span,
.aside-bottom-toc ol .toc-level-2 > a > span {
  margin-left: 1em;
}
.aside-top-series ol .toc-level-3 > a > span,
.aside-bottom-toc ol .toc-level-3 > a > span {
  margin-left: 2em;
}
.aside-top-series ol .toc-level-4 > a > span,
.aside-bottom-toc ol .toc-level-4 > a > span {
  margin-left: 3em;
}
.aside-top-series ol .toc-level-5 > a > span,
.aside-bottom-toc ol .toc-level-5 > a > span {
  margin-left: 4em;
}
.aside-top-series ol .toc-level-6 > a > span,
.aside-bottom-toc ol .toc-level-6 > a > span {
  margin-left: 5em;
}
.aside-bottom-toc > ol {
  margin: 5px;
  max-height: calc(100vh - 260px);
}
@media screen and (min-width: 960px) {
  .hbe-toc .aside-bottom-toc {
    display: none;
  }
  .close-aside .aside {
    display: none;
  }
  .close-aside .post-content-info {
    max-width: 960px;
  }
}
@media screen and (max-width: 960px) {
  .aside {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .aside-top,
  .aside-bottom {
    z-index: 2;
    margin-left: 0;
    width: auto;
  }
  .aside-top .aside-card,
  .aside-bottom .aside-card {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 15px;
    width: 100%;
    padding: 10px 0;
  }
  .aside-top-series h1 {
    margin-left: 20px;
  }
  .aside-top-series #serial-number {
    margin-right: 20px;
  }
  .aside-top-series ol {
    width: 100%;
    margin: 10px auto 5px auto;
    max-width: calc(100% - 40px);
  }
  .aside-bottom-toc {
    position: fixed;
    width: auto !important;
    margin: 0 !important;
    padding: 10px !important;
    right: 70px;
    bottom: 35px;
    min-width: calc(30vw + 120px);
    max-width: calc(75vw - 10px);
    z-index: 2;
    transition: background 0.3s ease-out, bottom 0.5s ease-out !important;
  }
  .aside-bottom-toc > ol {
    max-height: 210px;
  }
  .hbe-toc .aside-bottom-toc,
  .close-aside .aside-bottom-toc {
    bottom: -280px;
  }
}
@media screen and (max-width: 660px) {
  .aside-bottom-toc {
    right: 55px !important;
  }
}
