.footer {
  display: flex;
  padding: 0 calc((100% - 1400px)/2);
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.footer .copyright {
  display: flex;
  margin-left: 15px;
  color: var(--text-secondary);
  font-size: 14px;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  transition: color 0.5s ease-in-out;
}
.footer .copyright a {
  color: var(--text-secondary);
  text-decoration: none;
}
.footer .copyright a:hover {
  color: var(--text-link);
  text-decoration: underline;
}
.footer .contact {
  display: flex;
  flex-basis: 0;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.footer .contact a {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
.footer .contact a:hover {
  transform: translateY(-4px);
}
.footer .contact a img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 660px) {
  .footer {
    flex-direction: column-reverse;
    margin-bottom: 15px;
  }
  .footer .copyright {
    margin: auto;
  }
  .footer .contact {
    margin: auto;
    flex-wrap: wrap;
  }
  .footer .contact a {
    margin-bottom: 10px;
  }
}
