footer .content {
  display: flex;
  background: var(--background-secondary);
  padding: 0 calc((100% - 1360px) / 2);
  height: 60px;
}
footer .content .copyright {
  display: flex;
  margin-left: 15px;
  color: var(--text-secondary);
  font-size: 14px;
  flex-basis: 0;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 2;
}
footer .content .copyright a {
  color: var(--text-secondary);
  text-decoration: none;
}
footer .content .copyright a:hover {
  color: var(--text-link);
  text-decoration: underline;
}
footer .content .contact {
  display: flex;
  flex-basis: 0;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
footer .content .contact a {
  display: flex;
  padding: 0 8px;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-out;
}
footer .content .contact a:hover {
  transform: translateY(-4px);
}
footer .content .contact a img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 660px) {
  footer .content {
    flex-direction: column-reverse;
    padding: 15px 0;
  }
  footer .content .copyright {
    margin: auto;
  }
  footer .content .contact {
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 6px;
  }
  footer .content .contact a {
    margin-bottom: 6px;
  }
}
