.grouping {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  transition: all 0.4s ease-in-out;
}
.grouping-item {
  display: flex;
  color: #333;
  padding: 15px 20px;
}
.grouping-item span {
  flex-grow: 1;
  margin-right: 20px;
}
.grouping-item time {
  white-space: nowrap;
}
.grouping-item:hover {
  background: #f7f8f9;
  color: #4183c4;
  border-radius: 6px;
}
.grouping h2 a,
.grouping h3 a {
  color: #333;
}
.grouping h2 a:hover,
.grouping h3 a:hover {
  color: #4183c4;
  text-decoration: underline;
}
.grouping-month,
.grouping-year {
  position: relative;
}
.grouping-month-list.closed,
.grouping-year-list.closed {
  display: none;
}
.grouping .toggleButton {
  position: absolute;
  top: 26px;
  right: 20px;
  width: 16px;
  height: 16px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  transition: transform 0.4s;
}
.grouping .toggleButton:hover {
  cursor: pointer;
}
.grouping .toggleButton.closed {
  transform: rotate(90deg);
}
