.grouping {
  display: flex;
  flex-direction: column;
  width: 900px;
  padding: 0 80px;
  font-size: 1.1rem;
  transition: all 0.4s ease-in-out;
}
.grouping p {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  color: #424242;
  font-size: 1.7rem;
  font-weight: bold;
}
.grouping a {
  display: flex;
  text-decoration: none;
  color: #333;
  padding: 20px;
}
.grouping a span {
  flex-grow: 1;
}
.grouping a time {
  white-space: nowrap;
}
.grouping a:hover {
  background: #F8F9FB;
  color: #4CA5CE;
  border-radius: 6px;
}
@media screen and (max-width: 660px) {
  .grouping {
    width: 100%;
    max-width: 700px;
    padding: 0px 15px;
    font-size: 1rem;
  }
  .grouping p {
    font-size: 1.5rem;
  }
  .grouping a {
    padding: 15px;
  }
}
