.header-body-background {
  width: 100%;
  display: flex;
  height: 520px;
  background-size: cover;
  background-position: 50% 25%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, #ffffff);
  -webkit-mask-image: linear-gradient(to bottom, #000000 98%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to bottom, #000000 98%, rgba(0, 0, 0, 0));
}
.header-body-background:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 520px;
  background-image: url(../images/pattern.png);
  background-repeat: repeat;
  content: "";
}
.header-body-background-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.header-body-background-content h1 {
  margin: 24px 0 28px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.header-body-background-content span {
  display: flex;
  height: 120px;
  font-size: 36px;
  line-height: 48px;
  color: #333;
  align-items: center;
}
.header-body-background-content span img {
  width: 56px;
  height: 56px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.8));
}
