.book-container{
    position: sticky;
    bottom: 0px;
    z-index: 2;
    background: #f5f5f5ee;
}
#book{
    margin: 0.5em auto;
}
#book div img{
    border: 2px solid #12183a;
    margin: 0 auto;
    max-width: calc(100% - 4px);
    pointer-events: none;
}
#book div img .odd {
    border-right: none;
}
#book div img .even {
    border-left: none;
}
#book .turn-page{
    background-color:#ddd;
    background-size:100% 100%;
}