.about-header-background-content {
  display: flex;
  margin: 0 auto;
  position: relative;
  max-width: 80%;
  align-content: center;
  flex-wrap: wrap;
}
.about-header-background-content img {
  display: flex;
  flex: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
.about-header-background-content .author,
.about-header-background-content .description {
  display: flex;
  font-weight: 500;
  color: #fff;
  flex-direction: column;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.about-header-background-content .author {
  margin-top: 20px;
  font-size: 36px;
}
.about-header-background-content .description {
  font-size: 16px;
  margin-top: 10px;
}
@media screen and (max-width: 660px) {
  .about-header-background-content {
    transform: translateY(-10px);
  }
}
