.archive-content {
  display: flex;
  max-width: 960px;
  margin: -80px auto 65px auto;
  padding-bottom: 40px;
  border-radius: 10px;
  flex-direction: column;
  transition: all 0.5s ease-out;
  position: relative;
  z-index: 2;
  background: var(--background-primary);
  transition: background 0.5s ease-in-out;
  border: 1px solid rgba(18, 24, 58, 0.06);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}
.archive-content-data {
  padding: 60px;
}
.archive-content-data p {
  margin-top: 20px;
}
@media screen and (max-width: 660px) {
  .archive-content {
    margin-bottom: 35px;
  }
  .archive-content-data {
    padding: 60px 20px 20px 20px;
  }
}
