.archive-content {
  display: flex;
  max-width: 960px;
  margin: -80px auto 70px;
  border-radius: 10px;
  flex-direction: column;
  transition: all 0.5s ease-out;
  position: relative;
  z-index: 2;
  background: var(--background-primary);
  transition: background 0.5s ease-in-out;
  border: 1px solid rgba(18, 24, 58, 0.06);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}
.archive-content-data {
  padding: 60px 60px 80px;
}
.archive-content-data p {
  margin-top: 20px;
}
@media screen and (max-width: 660px) {
  .archive-content {
    margin-bottom: 55px;
  }
  .archive-content-data {
    padding: 30px 20px 60px;
  }
}
