.categories-class {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.categories-class-card {
  background-position: center center;
  margin: 10px;
  flex: 1;
  flex-basis: 320px;
  height: 100px;
  padding: 20px 30px 4px 30px;
  border-radius: 10px;
  background-size: 100%;
  overflow: hidden;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.4s ease-out;
  text-decoration: none;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.8);
}
.categories-class-card:hover {
  top: -8px;
  text-decoration: none;
}
.categories-class-card-title {
  position: relative;
  z-index: 2;
  font-size: 22px;
  font-weight: bold;
}
.categories-class-card-number {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.categories-class-card-number .categories-length {
  position: relative;
  font-size: 50px;
  z-index: 2;
  font-style: oblique;
  font-weight: bold;
}
.categories-class-card-number span {
  position: relative;
  font-size: 20px;
  z-index: 2;
  font-style: oblique;
}
.categories-class-card:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url(../images/pattern.png);
  background-repeat: repeat;
  content: "";
}
