.gallery-content {
  display: flex;
  max-width: 960px;
  margin: -100px auto 95px;
  padding-bottom: 100px;
  border-radius: 10px;
  flex-direction: column;
  position: relative;
  z-index: 2;
  background: var(--background-primary);
  transition: all 0.5s ease-out;
  border: 1px solid rgba(18, 24, 58, 0.06);
  box-shadow: 0 1px 3px hsla(0, 0%, 7%, 0.1);
}
.gallery-content .grid {
  margin: 25px 20px 0 20px;
}
.gallery-content .grid:after {
  content: '';
  display: block;
  clear: both;
}
.gallery-content .grid-sizer,
.gallery-content .grid-item {
  box-sizing: border-box;
  width: 33.33%;
  float: left;
  padding: 5px;
}
.gallery-content .grid-sizer img,
.gallery-content .grid-item img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
  transition: transform 0.5s ease-out;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.8);
}
.gallery-content .grid-sizer img:hover,
.gallery-content .grid-item img:hover {
  transform: scale(1.1);
}
.gallery-content .description-container {
  z-index: 2;
  position: sticky;
  width: 100%;
  left: 0;
  right: 0;
  height: 40px;
  bottom: 0;
  background: var(--gallery-content-description-bg);
  text-align: center;
}
.gallery-content .description-container span {
  font-size: 18px;
  color: var(--text-primary);
  text-shadow: 0 0 10px rgba(128, 128, 128, 0.8);
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transition: color 0.5s ease-out;
}
.gallery-content .comments-container {
  display: flex;
  max-width: 960px;
  padding: 0 80px;
}
@media screen and (max-width: 660px) {
  .gallery-content {
    margin-bottom: 65px;
  }
  .gallery-content .grid-sizer,
  .gallery-content .grid-item {
    width: 100%;
  }
  .gallery-content .comments-container {
    padding: 0 20px;
  }
}
