.galleries main {
  display: flex;
}
.galleries main article {
  flex-grow: 1;
  flex-basis: auto;
  margin-top: -64px;
}
.galleries main article .post-block {
  padding: 0 calc((100% - 960px) / 2);
  margin-top: -40px;
  margin-bottom: 50px;
}
.galleries main article .post-block-content {
  margin: 20px 100px 80px 100px;
  text-decoration: none;
  height: 300px;
  display: flex;
  position: relative;
  top: 0px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.galleries main article .post-block-content:hover {
  top: -15px;
}
.galleries main article .post-block-content .title {
  bottom: 11%;
  position: absolute;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  font-size: 22px;
  font-weight: 500;
}
.galleries main article .post-block-content .description-container {
  margin-top: 140px;
  margin-left: 80px;
}
.galleries main article .post-block-content .description-container p {
  position: absolute;
  font-size: 20px;
}
.galleries main article .post-block .comments-container {
  max-width: 800px;
  padding: 0 80px;
}
@media screen and (max-width: 660px) {
  .galleries main article .post-block-content {
    margin: 20px 20px 100px 20px;
    padding: 20px;
    flex-direction: column;
  }
  .galleries main article .post-block-content .title {
    bottom: 5%;
  }
  .galleries main article .post-block-content .description-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
  .galleries main article .post-block .comments-container {
    padding: 0 20px;
  }
}
.galleries main article .post-card {
  display: flex;
  max-width: 100%;
  padding: 0 calc((100% - 1200px) / 2) 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-top: -64px;
}
.galleries main article .post-card-content {
  margin: 20px 40px 80px 40px;
  text-decoration: none;
  height: 400px;
  justify-content: center;
  /* 添加此行以实现水平居中对齐 */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  /* 控制子容器之间的间距 */
  position: relative;
  top: 0px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.galleries main article .post-card-content:hover {
  top: -15px;
}
.galleries main article .post-card-content .title {
  bottom: 56px;
  position: absolute;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  font-size: 22px;
  font-weight: 500;
}
.galleries main article .post-card-content .description-container {
  margin-top: 20px;
}
.galleries main article .post-card-content .description-container p {
  text-indent: 2em;
  font-size: 20px;
  position: absolute;
}
.galleries main article .post-card .comments-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.galleries main article .post-card .comments-container .giscus,
.galleries main article .post-card .comments-container .gitalk {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 80px;
}
@media screen and (max-width: 660px) {
  .galleries main article .post-card .comments-container .giscus,
  .galleries main article .post-card .comments-container .gitalk {
    padding: 0 20px;
  }
}
.galleries main article .img-container {
  justify-content: center;
  display: flex;
  transform: rotate(-5deg);
  transition: transform ease-in-out 0.5s;
}
.galleries main article .img-container:hover {
  transform: rotate(-10deg);
}
.galleries main article .img-container .photo-frames {
  width: 220px;
  height: 260px;
  border: 10px solid #fff;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 20px 40px 0 rgba(50, 50, 50, 0.2);
}
.galleries main article .img-container .photo-frames img {
  border-radius: 2px;
  width: 100%;
  height: 80%;
  object-fit: cover;
  max-width: 100%;
  margin: 0;
}
