.gallery-content {
  width: 100%;
  padding: 2px 0;
  max-width: 1200px;
  margin: -64px auto auto auto;
  border-radius: 10px;
  background: #FFF;
}
.gallery-content-data {
  column-count: 3;
  /* 设置列数为3 */
  column-gap: 10px;
  /* 可选，设置列之间的间距 */
}
.gallery-content .fancybox {
  break-inside: avoid;
  /* 避免图片被分割到不同的列中 */
  display: inline-block;
  /* 将.fancybox元素设为块级元素，以便它们在列中堆叠 */
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  margin: 6px;
}
.gallery-content .fancybox img {
  width: 100%;
  text-align: center;
  min-width: 100px;
  max-width: 600px;
  border-radius: 10px;
}
.gallery-content .fancybox:hover {
  z-index: 2;
  transform: scale(1.1);
}
.gallery-content .description-container {
  z-index: 2;
  position: sticky;
  width: 100%;
  left: 0;
  right: 0;
  height: 40px;
  bottom: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0));
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.gallery-content .description-container span {
  font-size: 18px;
  color: #12183A;
  text-shadow: 0 0 10px rgba(128, 128, 128, 0.8);
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
@media screen and (max-width: 900px) {
  .gallery-content-data {
    column-count: 2;
  }
}
@media screen and (max-width: 600px) {
  .gallery-content-data {
    column-count: 1;
  }
}
