.gallery-content {
  width: 100%;
  padding: 160px 0;
  background: #FFF;
  max-width: 1200px;
  margin: -64px auto 64px auto;
  padding: 20px;
  border-radius: 10px;
}
.gallery-content-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery-content .fancybox {
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  margin: 6px;
}
.gallery-content .fancybox img {
  width: 100%;
  text-align: center;
  min-width: 100px;
  max-width: 600px;
  border-radius: 10px;
}
.gallery-content .fancybox:hover {
  z-index: 2;
  transform: scale(1.1);
}
@media screen and (max-width: 960px) {
  .gallery-content .fancybox {
    flex: 33.33%;
  }
}
@media screen and (max-width: 768px) {
  .gallery-content .fancybox {
    flex: 50%;
  }
}
@media screen and (max-width: 480px) {
  .gallery-content .fancybox {
    flex: 100%;
  }
}
