.galleries .post-container {
  display: flex;
}
.galleries .post-container article {
  flex-grow: 1;
  flex-basis: auto;
  margin-top: -64px;
}
.galleries .post-container article .post-block {
  padding: 0 calc((100% - 960px) / 2);
  margin-top: -60px;
  margin-bottom: 80px;
}
@media screen and (max-width: 660px) {
  .galleries .post-container article .post-block {
    margin-bottom: 40px;
  }
}
.galleries .post-container article .post-block-content {
  margin: 0 100px 80px 120px;
  text-decoration: none;
  display: flex;
  position: relative;
  transition: all 0.5s ease-out;
}
.galleries .post-container article .post-block-content:hover {
  transform: translateY(-15px);
}
.galleries .post-container article .post-block-content .description {
  margin-top: 160px;
  margin-left: 80px;
  font-size: 20px;
}
.galleries .post-container article .post-block .comments-container {
  max-width: 800px;
  padding: 0 80px;
}
@media screen and (max-width: 660px) {
  .galleries .post-container article .post-block-content {
    margin: 0 20px 40px 40px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }
  .galleries .post-container article .post-block-content .description {
    display: flex;
    justify-content: center;
    margin: 45px auto 0;
  }
  .galleries .post-container article .post-block .comments-container {
    padding: 0 20px;
  }
}
.galleries .post-container article .post-card {
  display: flex;
  max-width: 100%;
  padding: 0 calc((100% - 1200px) / 2);
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: -64px 0 80px;
}
.galleries .post-container article .post-card-content {
  margin: 20px 40px 40px;
  text-decoration: none;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0px;
  transition: all 0.5s ease-out;
}
.galleries .post-container article .post-card-content:hover {
  top: -15px;
}
.galleries .post-container article .post-card-content .description {
  font-size: 20px;
  width: 220px;
  margin-top: 45px;
}
.galleries .post-container article .post-card .comments-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.galleries .post-container article .post-card .comments-container .giscus,
.galleries .post-container article .post-card .comments-container #gitalk {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 80px;
}
@media screen and (max-width: 660px) {
  .galleries .post-container article .post-card .comments-container .giscus,
  .galleries .post-container article .post-card .comments-container #gitalk {
    padding: 0 20px;
  }
}
.galleries .post-container article .img-container {
  justify-content: center;
  transform: rotate(-5deg);
  transition: transform ease-out 0.5s;
  display: flex;
  flex-direction: column;
  max-width: 220px;
  border: 10px solid var(--background-primary);
  border-radius: 5px;
  background: var(--background-primary);
  transition: all 0.5s ease-out;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.2);
}
.galleries .post-container article .img-container:hover {
  transform: rotate(-10deg);
  text-decoration: none !important;
}
.galleries .post-container article .img-container:hover .title {
  color: var(--text-link);
}
.galleries .post-container article .img-container .photo-frames img {
  border-radius: 2px;
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  margin: 0;
}
.galleries .post-container article .img-container .title {
  font-size: 22px;
  font-weight: normal;
  border-bottom: none;
  padding: 0;
  margin: 2px 0;
  text-align: center;
  transition: none;
}
