* {
  margin: 0;
  padding: 0;
}
.home .main {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.home .main .post-card {
  display: flex;
  max-width: 100%;
  padding: 0 calc((100% - 1200px) / 2) 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-top: -100px;
}
.home .main .post-card-display {
  flex-basis: 300px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  min-height: 420px;
  margin: 20px;
  background-color: var(--background-primary);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 10px 0 rgba(50, 50, 50, 0.2);
  flex-direction: column;
  top: 0px;
  transition: all 0.5s ease-in-out;
}
.home .main .post-card-display:hover {
  top: -15px;
}
.home .main .post-card-display-item {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}
.home .main .post-card-display-item .post-card-top {
  display: flex;
  flex-grow: 1;
  color: var(--text-primary);
  justify-content: space-between;
  transition: color 0.5s ease-in-out;
}
.home .main .post-card-display-item .post-card-top-title {
  margin: 30px 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  color: var(--text-primary);
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}
.home .main .post-card-display-item .post-card-top .stiky {
  width: 18px;
  height: 18px;
  margin: 10px 8px 0 0;
}
.home .main .post-card-display-item:hover .post-card-top-title {
  color: var(--text-link);
  transition: color 0.5s ease-in-out;
}
.home .main .post-card-display-item .img-container {
  width: 100%;
  height: 200px;
  position: relative;
}
.home .main .post-card-display-item .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.home .main .post-card-description {
  padding: 10px 16px;
  text-align: right;
  flex-grow: 1;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5em;
  color: var(--text-secondary);
  transition: color 0.5s ease-in-out;
}
.home .main .post-card-meat {
  display: flex;
  padding: 0 24px 24px 24px;
  justify-content: space-between;
}
.home .main .post-card-meat .meat-info {
  display: flex;
  flex-direction: column;
}
.home .main .post-card-meat .meat-info .info-category {
  display: flex;
  z-index: 3;
  align-content: flex-start;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-secondary);
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}
.home .main .post-card-meat .meat-info .info-category:hover {
  color: var(--text-link);
  text-decoration: underline;
}
.home .main .post-card-meat .meat-info .info-date {
  color: var(--text-primary);
  margin-top: 8px;
  font-size: 12px;
  line-height: 18px;
  transition: color 0.5s ease-in-out;
}
.home .main .post-card-meat .meat-info .info-date a {
  color: var(--text-primary);
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}
.home .main .post-card-meat .meat-info .info-date a:hover {
  color: var(--text-link);
  text-decoration: underline;
}
.home .main .meat-type {
  width: 32px;
  height: 32px;
  margin-top: 10px;
}
.home .change-page {
  text-align: center;
  margin: 25px 0;
}
.home .change-page-item {
  color: var(--background-primary);
  margin: 10px auto;
  display: inline-block;
}
.home .change-page-item a,
.home .change-page-item span,
.home .change-page-item select {
  background: var(--background-secondary);
  outline: 1px solid rgba(18, 24, 58, 0.06);
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  color: var(--text-secondary);
  transition: all 0.5s ease-out;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
.home .change-page-item a:hover,
.home .change-page-item span:hover {
  outline: 1px solid var(--text-link);
}
.home .change-page-item select {
  width: auto;
  padding: 0 5px;
  background: var(--background-secondary);
  color: var(--background-primary);
  background: var(--text-link);
  transition: all 0.5s ease-in-out;
}
.home .change-page-item select option {
  background-color: var(--background-primary);
  color: var(--text-primary);
  transition: color 0.5s ease-in-out;
}
@media screen and (max-width: 660px) {
  .home .change-page {
    margin-top: 15px;
    margin-bottom: 65px;
  }
  .home .change-page-item a,
  .home .change-page-item span,
  .home .change-page-item select {
    margin: 5px 2px;
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
  .home .change-page-item select {
    width: auto;
    padding: 0 2px;
  }
}
