* {
  margin: 0;
  padding: 0;
}
.home .main {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.home .main .post-card {
  display: flex;
  max-width: 100%;
  padding: 0 calc((100% - 1200px) / 2) 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-top: -100px;
}
.home .main .post-card-display {
  flex-basis: 300px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  min-height: 420px;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 10px 0 rgba(50, 50, 50, 0.2);
  flex-direction: column;
  top: 0px;
  transition: ease-in-out;
  -moz-transition: top 0.5s;
  -webkit-transition: top 0.5s;
  -o-transition: top 0.5s;
}
.home .main .post-card-display:hover {
  top: -15px;
}
.home .main .post-card-display a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}
.home .main .post-card-display a .post-card-title {
  display: flex;
  flex-grow: 1;
  color: #333;
  justify-content: space-between;
}
.home .main .post-card-display a .post-card-title h1 {
  margin: 30px 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
}
.home .main .post-card-display a .post-card-title .stiky {
  width: 18px;
  height: 18px;
  margin: 10px 8px 0 0;
}
.home .main .post-card-display a .post-card-description {
  margin: 10px 16px;
  text-align: right;
  flex-grow: 1;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5em;
  color: #777;
}
.home .main .post-card-display a .img-container {
  width: 100%;
  height: 200px;
  background: linear-gradient(to top, #f1f5fb, #f9fcff);
  position: relative;
}
.home .main .post-card-display a .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.home .main .post-card-meat {
  display: flex;
  margin: 16px 24px 24px 24px;
  justify-content: space-between;
}
.home .main .post-card-meat .meat-info {
  display: flex;
  flex-direction: column;
}
.home .main .post-card-meat .meat-info .info-auth {
  display: flex;
  z-index: 3;
  align-content: flex-start;
  align-items: center;
}
.home .main .post-card-meat .meat-info .info-auth a {
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
  color: #777;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
}
.home .main .post-card-meat .meat-info .info-auth a:hover {
  color: #4183c4;
  text-decoration: underline;
}
.home .main .post-card-meat .meat-info .info-data {
  margin-top: 8px;
  font-size: 12px;
  line-height: 18px;
}
.home .main .meat-type {
  width: 32px;
  height: 32px;
  margin-top: 10px;
}
.home .change-page {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
}
.home .change-page-item {
  color: #fff;
  margin: 5px auto;
}
.home .change-page-item .box {
  border: 1px solid #4183c4;
  background: #4183c4;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 20px 40px 0 rgba(50, 50, 50, 0.1);
}
.home .change-page-item .ellipsis .box {
  border: 2px solid #f7f8f9;
  background: #f7f8f9;
  color: #777;
}
.home .change-page-item .page {
  display: inline-block;
}
.home .change-page-item .page a {
  text-decoration: none;
}
.home .change-page-item .page a .box {
  background: #f7f8f9;
  color: #777;
  transition: all 0.3s ease-out;
  border: 1px solid rgba(18, 24, 58, 0.06);
}
.home .change-page-item .page a .box:hover {
  border: 1px solid #4183c4;
}
.home .change-page-item select {
  margin: 5px 0;
  transform: translateY(-2px);
  color: #777;
  height: 24px;
  border: 1px solid rgba(18, 24, 58, 0.06);
}
.home .change-page-item #jump .box {
  border-radius: 4px;
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
}
