.post-header-background {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}
.post-header-background h1 {
  z-index: 2;
  color: #fff;
}
.post-header-background img {
  display: flex;
  width: 100%;
  height: 100%;
}
.post-header-background:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url(../images/pattern.png);
  background-repeat: repeat;
  content: "";
}
.post-header-background .post-header-info-author {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 4;
}
.post-header-background .post-header-info-author-text {
  display: block;
}
.post-header-background .post-header-info-author svg,
.post-header-background .post-header-info-author span,
.post-header-background .post-header-info-author time,
.post-header-background .post-header-info-author-categories > a {
  margin-right: 10px;
}
.post-header-background .post-header-info-author span a {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  color: #fff;
  text-decoration: none;
}
.post-header-background .post-header-info-author span a:hover {
  color: var(--text-link);
  text-decoration: underline;
}
.post-header-background .post-header-info-author p,
.post-header-background .post-header-info-author time,
.post-header-background .post-header-info-author svg {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  color: #fff;
}
.post-header-background .post-header-info-author-categories a {
  background: none;
  display: block;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  padding: 2px 4px;
  font-size: 12px;
  border: 1px solid #fff;
}
.post-header-background .post-header-info-author-categories a:hover {
  background: var(--text-link);
  color: var(--background-primary);
  border: 1px solid var(--background-primary);
}
.post-header-background-content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  z-index: 2;
  height: 600px;
  padding: 0 20px;
}
.post-header-background-content h1 {
  margin: 12px 0 28px;
  font-weight: 500;
  font-size: 38px;
  line-height: 1.6;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.post-header-background-content .post-header-tag {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.post-header-background-content .post-header-tag li {
  display: flex;
  margin: 20px 12px 0 4px;
  line-height: 20px;
  transition: all 0.5s ease-out;
  flex-grow: 0;
}
.post-header-background-content .post-header-tag li:hover {
  transform: translateY(-4px);
}
.post-header-background-content .post-header-tag li a {
  background: var(--background-primary);
  border-radius: 4px;
  position: relative;
  color: var(--text-primary);
  text-decoration: none;
  padding: 5px 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.post-header-background-content .post-header-tag li a:hover {
  background: var(--text-link);
  color: var(--background-primary);
}
.post-content {
  display: flex;
  margin: -100px auto 95px;
  width: 100%;
  justify-content: center;
}
.post-content-info {
  box-sizing: border-box;
  flex-grow: 1;
  max-width: min(960px, 70%);
  border-radius: 10px;
  z-index: 2;
  background: var(--background-primary);
  border: 1px solid rgba(18, 24, 58, 0.06);
  box-shadow: 0 1px 3px hsla(0, 0%, 7%, 0.1);
  padding: 60px 60px 80px;
  font-size: 1rem;
  transition: background 0.3s ease-out, box-shadow 0.5s ease-out;
}
.post-content-aside-series,
.post-content-aside-toc,
.post-content-aside-about {
  margin-left: 20px;
  width: min(260px, 20vw);
  border-radius: 10px;
  background: var(--background-primary);
  box-shadow: 0 1px 3px hsla(0, 0%, 7%, 0.1);
  padding: 10px;
  border: 1px solid rgba(18, 24, 58, 0.06);
  z-index: 2;
  transition: color 0.5s ease-out;
}
.post-content-aside-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-content-aside-about-portrait {
  margin: 10px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  transition: all 0.5s ease-out;
}
.post-content-aside-about-portrait:hover {
  transform: translateY(-10px);
}
.post-content-aside-about-portrait img {
  width: 100%;
  height: 100%;
}
.post-content-aside-about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.post-content-aside-about-info .author {
  font-size: 20px;
  color: var(--text-primary);
  transition: color 0.5s ease-out;
}
.post-content-aside-about-info .description {
  margin: 5px 0;
  color: var(--text-secondary);
  transition: color 0.5s ease-out;
}
.post-content-aside-about-site {
  margin: 5px 0;
  display: flex;
  width: 80%;
  max-width: 240px;
  justify-content: space-around;
}
.post-content-aside-about-site-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 0 5px;
}
.post-content-aside-about-site-item-title {
  color: var(--text-primary);
}
.post-content-aside-about-site-item-count {
  color: var(--text-secondary);
}
.post-content-aside-about-site-item:hover span {
  color: var(--text-link);
}
.post-content-aside-series,
.post-content-aside-about {
  position: relative;
  margin-bottom: 15px;
}
.post-content-aside-series > ol {
  margin: 5px;
  max-height: 320px;
}
.post-content-aside-series a {
  color: var(--text-primary);
  text-decoration: none;
}
.post-content-aside-series a:hover {
  color: var(--text-link);
  text-decoration: underline;
}
.post-content-aside-series h1,
.post-content-aside-toc h1 {
  font-weight: bold;
  color: var(--text-primary);
  font-size: 1.1em;
  margin-left: 10px;
  transition: color 0.5s ease-out;
}
.post-content-aside-series ol,
.post-content-aside-toc ol {
  list-style-type: none;
  display: block;
  overflow: auto;
}
.post-content-aside-series ol::-webkit-scrollbar,
.post-content-aside-toc ol::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.post-content-aside-series ol::-webkit-scrollbar-thumb,
.post-content-aside-toc ol::-webkit-scrollbar-thumb {
  background-color: #AAA;
  border-radius: 10px;
}
.post-content-aside-series ol .toc-link,
.post-content-aside-toc ol .toc-link,
.post-content-aside-series ol .series-link,
.post-content-aside-toc ol .series-link {
  line-height: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 5px;
  display: block;
}
.post-content-aside-series ol li,
.post-content-aside-toc ol li {
  background: none;
  width: 100%;
}
.post-content-aside-series ol li a,
.post-content-aside-toc ol li a {
  text-decoration: none;
  background: none;
}
.post-content-aside-series ol li a span,
.post-content-aside-toc ol li a span {
  color: var(--text-secondary);
}
.post-content-aside-series ol li.active a,
.post-content-aside-toc ol li.active a {
  background: var(--text-link);
}
.post-content-aside-series ol li.active a span,
.post-content-aside-toc ol li.active a span {
  color: var(--background-primary);
}
.post-content-aside-series ol a:hover,
.post-content-aside-toc ol a:hover {
  background: var(--background-tertiary);
}
.post-content-aside-series ol a:hover span,
.post-content-aside-toc ol a:hover span {
  color: var(--text-link);
}
.post-content-aside-toc {
  position: sticky;
  top: 80px;
  transition: background 0.3s ease-out, bottom 0.5s ease-out, box-shadow 0.5s ease-out;
}
.post-content-aside-toc > ol {
  margin: 5px;
  max-height: calc(100vh - 260px);
}
@media screen and (min-width: 960px) {
  .post .hbe-toc .post-content-aside-toc {
    display: none;
  }
  .post .close-aside .post-content-aside {
    display: none;
  }
  .post .close-aside .post-content-info {
    max-width: 960px;
  }
}
@media screen and (max-width: 960px) {
  .post .post-content {
    align-items: center;
    flex-direction: column;
  }
  .post .post-content-info {
    max-width: 100%;
  }
  .post .post-content-aside {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .post .post-content-aside-toc {
    top: auto;
    bottom: 45px;
    z-index: 2;
    position: fixed;
    min-width: calc(30vw + 120px);
    max-width: calc(75vw - 10px);
    width: auto;
    right: 75px;
  }
  .post .post-content-aside-toc > ol {
    max-height: 210px;
  }
  .post .post-content-aside-series,
  .post .post-content-aside-about {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 15px;
    width: 100%;
    padding: 10px 0;
  }
  .post .post-content-aside-series h1 {
    margin-left: 20px;
  }
  .post .post-content-aside-series ol {
    margin: 10px auto 5px auto;
    max-width: calc(100% - 40px);
  }
  .post .hbe-toc .post-content-aside-toc,
  .post .close-aside .post-content-aside-toc {
    bottom: -280px;
  }
}
.post-paging {
  display: flex;
  margin: -25px auto 75px;
  max-width: 1280px;
  transition: all 0.5s ease-out;
  position: relative;
}
.post-paging a,
.post-paging a .post-paging-last,
.post-paging a .post-paging-next {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
  font-size: 16px;
  text-decoration: none;
  transition: color 0.5s ease-out;
}
.post-paging a .post-paging-last,
.post-paging a .post-paging-last .post-paging-last,
.post-paging a .post-paging-next .post-paging-last,
.post-paging a .post-paging-next,
.post-paging a .post-paging-last .post-paging-next,
.post-paging a .post-paging-next .post-paging-next {
  cursor: pointer;
  transition: all 0.5s ease-out;
  justify-content: center;
  flex-direction: column;
  margin-top: -20px;
}
@media screen and (max-width: 660px) {
  .post-paging a .post-paging-last,
  .post-paging a .post-paging-last .post-paging-last,
  .post-paging a .post-paging-next .post-paging-last,
  .post-paging a .post-paging-next,
  .post-paging a .post-paging-last .post-paging-next,
  .post-paging a .post-paging-next .post-paging-next {
    margin-top: 0;
  }
}
.post-paging a .post-paging-last.post-paging-last,
.post-paging a .post-paging-last .post-paging-last.post-paging-last,
.post-paging a .post-paging-next .post-paging-last.post-paging-last,
.post-paging a .post-paging-next.post-paging-last,
.post-paging a .post-paging-last .post-paging-next.post-paging-last,
.post-paging a .post-paging-next .post-paging-next.post-paging-last {
  align-items: flex-start;
}
.post-paging a .post-paging-last.post-paging-next,
.post-paging a .post-paging-last .post-paging-last.post-paging-next,
.post-paging a .post-paging-next .post-paging-last.post-paging-next,
.post-paging a .post-paging-next.post-paging-next,
.post-paging a .post-paging-last .post-paging-next.post-paging-next,
.post-paging a .post-paging-next .post-paging-next.post-paging-next {
  align-items: flex-end;
  flex-grow: 1;
}
.post-paging a .post-paging-last.post-paging-next p,
.post-paging a .post-paging-last .post-paging-last.post-paging-next p,
.post-paging a .post-paging-next .post-paging-last.post-paging-next p,
.post-paging a .post-paging-next.post-paging-next p,
.post-paging a .post-paging-last .post-paging-next.post-paging-next p,
.post-paging a .post-paging-next .post-paging-next.post-paging-next p {
  text-align: right;
}
.post-paging a .post-paging-last:hover,
.post-paging a .post-paging-last .post-paging-last:hover,
.post-paging a .post-paging-next .post-paging-last:hover,
.post-paging a .post-paging-next:hover,
.post-paging a .post-paging-last .post-paging-next:hover,
.post-paging a .post-paging-next .post-paging-next:hover {
  transform: translateY(-10px);
}
.post-paging a .post-paging-last:hover span,
.post-paging a .post-paging-last .post-paging-last:hover span,
.post-paging a .post-paging-next .post-paging-last:hover span,
.post-paging a .post-paging-next:hover span,
.post-paging a .post-paging-last .post-paging-next:hover span,
.post-paging a .post-paging-next .post-paging-next:hover span,
.post-paging a .post-paging-last:hover p,
.post-paging a .post-paging-last .post-paging-last:hover p,
.post-paging a .post-paging-next .post-paging-last:hover p,
.post-paging a .post-paging-next:hover p,
.post-paging a .post-paging-last .post-paging-next:hover p,
.post-paging a .post-paging-next .post-paging-next:hover p {
  color: var(--text-link);
}
.post-paging a .post-paging-last span,
.post-paging a .post-paging-last .post-paging-last span,
.post-paging a .post-paging-next .post-paging-last span,
.post-paging a .post-paging-next span,
.post-paging a .post-paging-last .post-paging-next span,
.post-paging a .post-paging-next .post-paging-next span,
.post-paging a .post-paging-last p,
.post-paging a .post-paging-last .post-paging-last p,
.post-paging a .post-paging-next .post-paging-last p,
.post-paging a .post-paging-next p,
.post-paging a .post-paging-last .post-paging-next p,
.post-paging a .post-paging-next .post-paging-next p {
  margin: 0 20px;
  line-height: 1.6;
}
@media screen and (max-width: 660px) {
  .post-header-background-content {
    height: 460px;
    transform: translateY(-10px);
  }
  .post-header-background-content h1 {
    font-size: 28px;
    margin: 12px 0 16px;
  }
  .post-header-background-content .post-header-tag li {
    margin: 10px 8px 0 4px;
  }
  .post-header-background-content .post-header-tag li a {
    padding: 4px 8px;
  }
  .post-content-aside-toc {
    right: 55px !important;
  }
  .post-content-info {
    padding: 30px 20px 60px;
  }
  .post-paging {
    margin: -60px auto 95px;
  }
}
