.post-header-background {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 25%;
}
.post-header-background h1 {
  z-index: 2;
  color: #fff;
}
.post-header-background img {
  display: flex;
  width: 100%;
  height: 100%;
}
.post-header-background:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url(../images/pattern.png);
  background-repeat: repeat;
  content: "";
}
.post-header-background .post-header-info-author {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 4;
}
.post-header-background .post-header-info-author-text {
  display: block;
}
.post-header-background .post-header-info-author svg,
.post-header-background .post-header-info-author span,
.post-header-background .post-header-info-author time,
.post-header-background .post-header-info-author-categories > a {
  margin-right: 10px;
}
.post-header-background .post-header-info-author span a {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  color: #fff;
  text-decoration: none;
}
.post-header-background .post-header-info-author span a:hover {
  color: var(--text-link);
  text-decoration: underline;
}
.post-header-background .post-header-info-author p,
.post-header-background .post-header-info-author time,
.post-header-background .post-header-info-author svg {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  color: #fff;
}
.post-header-background .post-header-info-author-categories a {
  background: none;
  display: block;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  padding: 2px 4px;
  font-size: 12px;
  border: 1px solid #fff;
}
.post-header-background .post-header-info-author-categories a:hover {
  background: var(--text-link);
  color: var(--background-primary);
  border: 1px solid var(--background-primary);
}
.post-header-background-content {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  z-index: 2;
  height: 560px;
  padding: 0 20px;
}
.post-header-background-content h1 {
  margin: 24px 0 28px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.6;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.post-header-background-content .post-header-tag {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.post-header-background-content .post-header-tag li {
  display: flex;
  margin: 20px 12px 0 4px;
  line-height: 20px;
  transition: all 0.5s ease-in-out;
  flex-grow: 0;
}
.post-header-background-content .post-header-tag li:hover {
  transform: translateY(-4px);
}
.post-header-background-content .post-header-tag li a {
  background: var(--background-primary);
  border-radius: 4px;
  position: relative;
  color: var(--text-primary);
  text-decoration: none;
  padding: 6px 14px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.post-header-background-content .post-header-tag li a:hover {
  background: var(--text-link);
  color: var(--background-primary);
}
.post-content {
  display: flex;
  margin: -80px auto 70px;
  width: 100%;
  justify-content: center;
}
.post-content-info {
  box-sizing: border-box;
  flex-grow: 1;
  max-width: min(960px, 60%);
  border-radius: 10px;
  z-index: 2;
  background: var(--background-primary);
  border: 1px solid rgba(18, 24, 58, 0.06);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  padding: 60px 60px 80px;
  font-size: 1rem;
  transition: background 0.3s ease-in-out;
}
.post-content-aside-toc {
  margin-left: 40px;
  width: min(260px, 20vw);
  border-radius: 10px;
  background: var(--background-primary);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  padding: 10px;
  border: 1px solid rgba(18, 24, 58, 0.06);
  z-index: 2;
  position: sticky;
  top: 95px;
  transition: background 0.3s ease-in-out;
}
.post-content-aside-toc h1 {
  font-weight: bold;
  color: var(--text-primary);
  font-size: 1.1em;
  margin-left: 10px;
  transition: color 0.5s ease-in-out;
}
.post-content-aside-toc .toc {
  max-height: calc(100vh - 260px);
  margin: 5px 0;
  display: block;
  overflow: auto;
}
.post-content-aside-toc .toc::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.post-content-aside-toc .toc::-webkit-scrollbar-thumb {
  background-color: #AAA;
  border-radius: 10px;
}
.post-content-aside-toc ol {
  display: inline;
  list-style-type: none;
}
.post-content-aside-toc ol .toc-link {
  line-height: 24px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-right: 5px;
  display: block;
}
.post-content-aside-toc ol li {
  margin-left: 10px;
  background: none;
  display: flex;
}
.post-content-aside-toc ol li a {
  text-decoration: none;
  background: none;
}
.post-content-aside-toc ol li a span {
  color: var(--text-secondary);
}
.post-content-aside-toc ol li.active a {
  padding: 2px 8px;
  background: var(--text-link);
  border-radius: 8px;
}
.post-content-aside-toc ol li.active a span {
  color: var(--background-primary);
}
.post-content-aside-toc ol span:hover {
  color: var(--text-link);
}
@media screen and (min-width: 1050px) {
  .post .hbe-toc .post-content-info,
  .post .close-toc .post-content-info {
    max-width: 960px;
  }
  .post .hbe-toc .post-content-aside-toc,
  .post .close-toc .post-content-aside-toc {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .post .post-content-info {
    max-width: min(960px, 100%);
  }
  .post .post-content-aside-toc {
    top: auto;
    bottom: 45px;
    z-index: 2;
    position: fixed;
    min-width: calc(20vw + 120px);
    max-width: calc(75vw - 10px);
    width: auto;
    right: 75px;
  }
  .post .post-content-aside-toc .toc {
    max-height: 210px;
  }
  .post .hbe-toc .post-content-aside-toc,
  .post .close-toc .post-content-aside-toc {
    bottom: -280px;
  }
}
.post-paging {
  display: flex;
  margin: 20px auto 40px;
  max-width: 1280px;
  transition: all 0.5s ease-out;
  position: relative;
}
.post-paging a,
.post-paging a .post-paging-last,
.post-paging a .post-paging-next {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary);
  font-size: 16px;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}
.post-paging a .post-paging-last,
.post-paging a .post-paging-last .post-paging-last,
.post-paging a .post-paging-next .post-paging-last,
.post-paging a .post-paging-next,
.post-paging a .post-paging-last .post-paging-next,
.post-paging a .post-paging-next .post-paging-next {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  justify-content: center;
  flex-direction: column;
  margin-top: -20px;
}
@media screen and (max-width: 660px) {
  .post-paging a .post-paging-last,
  .post-paging a .post-paging-last .post-paging-last,
  .post-paging a .post-paging-next .post-paging-last,
  .post-paging a .post-paging-next,
  .post-paging a .post-paging-last .post-paging-next,
  .post-paging a .post-paging-next .post-paging-next {
    margin-top: 0;
  }
}
.post-paging a .post-paging-last.post-paging-last,
.post-paging a .post-paging-last .post-paging-last.post-paging-last,
.post-paging a .post-paging-next .post-paging-last.post-paging-last,
.post-paging a .post-paging-next.post-paging-last,
.post-paging a .post-paging-last .post-paging-next.post-paging-last,
.post-paging a .post-paging-next .post-paging-next.post-paging-last {
  align-items: flex-start;
}
.post-paging a .post-paging-last.post-paging-next,
.post-paging a .post-paging-last .post-paging-last.post-paging-next,
.post-paging a .post-paging-next .post-paging-last.post-paging-next,
.post-paging a .post-paging-next.post-paging-next,
.post-paging a .post-paging-last .post-paging-next.post-paging-next,
.post-paging a .post-paging-next .post-paging-next.post-paging-next {
  align-items: flex-end;
  flex-grow: 1;
}
.post-paging a .post-paging-last.post-paging-next p,
.post-paging a .post-paging-last .post-paging-last.post-paging-next p,
.post-paging a .post-paging-next .post-paging-last.post-paging-next p,
.post-paging a .post-paging-next.post-paging-next p,
.post-paging a .post-paging-last .post-paging-next.post-paging-next p,
.post-paging a .post-paging-next .post-paging-next.post-paging-next p {
  text-align: right;
}
.post-paging a .post-paging-last:hover,
.post-paging a .post-paging-last .post-paging-last:hover,
.post-paging a .post-paging-next .post-paging-last:hover,
.post-paging a .post-paging-next:hover,
.post-paging a .post-paging-last .post-paging-next:hover,
.post-paging a .post-paging-next .post-paging-next:hover {
  transform: translateY(-10px);
}
.post-paging a .post-paging-last:hover span,
.post-paging a .post-paging-last .post-paging-last:hover span,
.post-paging a .post-paging-next .post-paging-last:hover span,
.post-paging a .post-paging-next:hover span,
.post-paging a .post-paging-last .post-paging-next:hover span,
.post-paging a .post-paging-next .post-paging-next:hover span,
.post-paging a .post-paging-last:hover p,
.post-paging a .post-paging-last .post-paging-last:hover p,
.post-paging a .post-paging-next .post-paging-last:hover p,
.post-paging a .post-paging-next:hover p,
.post-paging a .post-paging-last .post-paging-next:hover p,
.post-paging a .post-paging-next .post-paging-next:hover p {
  color: var(--text-link);
}
.post-paging a .post-paging-last span,
.post-paging a .post-paging-last .post-paging-last span,
.post-paging a .post-paging-next .post-paging-last span,
.post-paging a .post-paging-next span,
.post-paging a .post-paging-last .post-paging-next span,
.post-paging a .post-paging-next .post-paging-next span,
.post-paging a .post-paging-last p,
.post-paging a .post-paging-last .post-paging-last p,
.post-paging a .post-paging-next .post-paging-last p,
.post-paging a .post-paging-next p,
.post-paging a .post-paging-last .post-paging-next p,
.post-paging a .post-paging-next .post-paging-next p {
  margin: 0 20px;
  line-height: 1.6;
}
@media screen and (max-width: 660px) {
  .post-header-background-content h1 {
    font-size: 28px;
    margin: 20px 0 24px;
  }
  .post-header-background-content .post-header-tag li a {
    padding: 6px 10px;
  }
  .post-content-aside-toc {
    right: 55px !important;
  }
  .post-content-info {
    padding: 30px 20px 60px;
  }
  .post-paging {
    margin: -45px auto 95px;
  }
}
