.series-content {
  display: flex;
  max-width: 960px;
  margin: -100px auto 95px;
  border-radius: 10px;
  flex-direction: column;
  position: relative;
  z-index: 2;
  background: var(--background-primary);
  transition: all 0.5s ease-out;
  border: 1px solid rgba(18, 24, 58, 0.06);
  box-shadow: 0 1px 3px hsla(0, 0%, 7%, 0.1);
}
.series-content-data {
  padding: 60px 60px 80px;
}
.series-content-data-item.closed .toggleButton {
  transform: rotate(90deg);
}
.series-content-data-item.closed .series-content-data-item-list {
  display: none;
}
.series-content-data-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.series-content-data-item .toggleButton {
  width: 16px;
  height: 16px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  transition: transform 0.5s;
}
.series-content-data-item .toggleButton:hover {
  cursor: pointer;
}
.series-content-data-item a {
  padding: 15px 20px 15px 0;
  position: relative;
  color: var(--text-primary);
  justify-content: space-between;
  display: flex;
  font-size: 18px;
}
.series-content-data-item a span {
  margin-left: 20px;
}
.series-content-data-item a:hover {
  background: var(--background-tertiary);
  color: var(--text-link);
  border-radius: 6px;
}
@media screen and (max-width: 660px) {
  .series-content {
    margin-bottom: 65px;
  }
  .series-content-data {
    padding: 30px 20px 60px;
  }
}
