.tag-content {
  display: flex;
  max-width: 960px;
  margin: -64px auto 0 auto;
  background: #ffffff;
  border-radius: 10px;
  flex-direction: column;
  transition: all 0.5s ease-out;
}
.tag-content-data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.tag-content-data .grouping {
  margin-top: 64px;
}
.tag-content-data p {
  margin-top: 20px;
}
