.tag-content-data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.tag-content-data .grouping {
  margin-top: 64px;
}
.tag-content-data p {
  margin-top: 20px;
}
