.tag-content {
  display: flex;
  max-width: 960px;
  margin: -100px auto 95px;
  border-radius: 10px;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 2;
  background: var(--background-primary);
  border: 1px solid rgba(18, 24, 58, 0.06);
  box-shadow: var(--box-shadow);
}
.tag-content-data {
  padding: 60px 60px 80px;
}
.tag-content-data p {
  margin-top: 20px;
}
@media screen and (max-width: 660px) {
  .tag-content {
    margin-bottom: 65px;
  }
  .tag-content-data {
    padding: 30px 20px 60px;
  }
}
