.tags-content {
  display: flex;
  max-width: 960px;
  margin: -80px auto 40px auto;
  padding-bottom: 40px;
  border-radius: 10px;
  flex-direction: column;
  transition: all 0.5s ease-out;
  position: relative;
  z-index: 2;
  background: #fff;
  border: 1px solid rgba(18, 24, 58, 0.06);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.tags-content-data {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 60px;
  font-size: 1rem;
  flex-wrap: wrap;
  transition: all 0.4s ease-in-out;
}
.tags-content-data h2 {
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
  color: #333;
}
.tags-content-data a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
  margin-bottom: 15px;
}
.tags-content-data a:hover {
  text-decoration: none;
}
.tags-content-data a > span {
  background-color: #f7f8f9;
  line-height: 2.4;
  transition: all 0.15s;
  padding: 0 12px;
  border-radius: 6px;
  position: relative;
  top: 0;
  color: #333;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid rgba(18, 24, 58, 0.06);
}
.tags-content-data a > span:hover {
  background-color: #0969da;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.tags-content-data a > span:hover > i {
  color: #fff;
}
.tags-content-data a > span > i {
  transition: all 0.3s ease-in-out;
  text-align: center;
  color: #0969da;
  font-size: 15px;
  font-weight: 500;
}
@media screen and (max-width: 660px) {
  .tags-content-data {
    padding: 40px 20px;
  }
}
