.tags-content {
  display: flex;
  max-width: 960px;
  margin: -80px auto 65px auto;
  padding-bottom: 40px;
  border-radius: 10px;
  flex-direction: column;
  transition: all 0.5s ease-out;
  position: relative;
  z-index: 2;
  background: var(--background-primary);
  border: 1px solid rgba(18, 24, 58, 0.06);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
}
.tags-content-data {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 60px;
  font-size: 1rem;
  flex-wrap: wrap;
  transition: all 0.5s ease-in-out;
}
.tags-content-data h2 {
  display: inline-block;
  width: 100%;
  margin-bottom: 35px;
  color: var(--text-primary);
  transition: color 0.5s ease-in-out;
}
.tags-content-data .tag {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 20px;
  margin-bottom: 15px;
}
.tags-content-data .tag:hover {
  text-decoration: none;
}
.tags-content-data .tag > span {
  background-color: var(--background-secondary);
  line-height: 2.4;
  transition: all 0.15s;
  padding: 0 12px;
  border-radius: 6px;
  position: relative;
  top: 0;
  color: var(--text-primary);
  font-weight: 400;
  font-size: 16px;
  border: 1px solid rgba(18, 24, 58, 0.06);
  transition: all 0.3s ease-in-out;
}
.tags-content-data .tag > span:hover {
  background-color: var(--text-link);
  color: var(--background-primary);
}
.tags-content-data .tag > span:hover > i {
  color: var(--background-primary);
}
.tags-content-data .tag > span > i {
  transition: all 0.3s ease-in-out;
  text-align: center;
  color: var(--text-link);
  font-size: 15px;
  font-weight: 500;
}
@media screen and (max-width: 660px) {
  .tags-content {
    margin-bottom: 35px;
  }
  .tags-content-data {
    padding: 40px 20px;
  }
}
