.weige-red{
    background-image: -webkit-linear-gradient(left, #ff0000, #ff00ff 25%, #ff0000 50%, #ff00ff 75%, #ff0000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation:  maskedAnimation 1s infinite linear;
    display: inline-block;
}
@keyframes maskedAnimation {
    0% {
    background-position: 0 0;
	}
	100% {
	    background-position: -100% 0;
    }
}